openapi: 3.1.0
info:
  title: SandBase API
  description: |
    SandBase is an agent-native platform for connecting Agents to the real world.
    Use one account and one key to call Models, ready-made APIs, and Agent Services.

    ## Authentication
    Public API requests require a SandBase API key. Use `Authorization: Bearer sk-YOUR_KEY` by default.
    Anthropic Messages and Google Gemini-compatible operations also document their native SDK-compatible key locations.

    ## SDK Compatibility
    - **LLM Gateway** (`/v1/chat/completions`): Use OpenAI SDK with `base_url="https://api.sandbase.ai/v1"`
    - **Embeddings** (`/v1/embeddings`): Use OpenAI SDK with `base_url="https://api.sandbase.ai/v1"`
    - **Images** (`/v1/images/generations`, `/v1/images/edits`): Use OpenAI SDK with `base_url="https://api.sandbase.ai/v1"`
    - **Anthropic Messages** (`/v1/messages`): Use Anthropic SDK with `base_url="https://api.sandbase.ai"`
    - **Google Gemini GenerateContent** (`/v1beta/models/{model}:generateContent`): Configure the Google Gen AI SDK to use `https://api.sandbase.ai`
    - **Agents and Sessions** (`/v1/agents`, `/v1/sessions`): Use the documented SandBase HTTP resource APIs
  version: 1.0.0
  x-sandbase-session-contract:
    status: active
    feature: persistent public Session identity
    description: >-
      Public session_id identifies persistent Agent interaction across Direct Session, Service, and Schedule
      (Deployment) entry points. Service invocation creates or continues a Session and sends one event. Every manual or
      scheduled Deployment trigger creates a public drun_* DeploymentRun and attempts to create one new Session.
      Internal Runtime Session identities are never exposed.
  contact:
    name: SandBase
    url: https://www.sandbase.ai
  license:
    name: Proprietary

servers:
  - url: https://api.sandbase.ai
    description: Production

security:
  - BearerAuth: []

tags:
  - name: Chat Completions
    description: OpenAI-compatible LLM Gateway
  - name: Responses
    description: OpenAI-compatible Responses API
  - name: Embeddings
    description: OpenAI-compatible text embeddings
  - name: Images
    description: OpenAI-compatible image generation and editing
  - name: Messages
    description: Anthropic-compatible Messages API
  - name: Gemini
    description: Google Gemini-compatible GenerateContent and Interactions APIs
  - name: Volcengine Contents Generations
    description: Volcengine Ark-compatible asynchronous video generation tasks
  - name: Agents
    description: Build and manage Agent definitions
  - name: Sessions
    description: Create stateful Agent executions and exchange events
  - name: Services
    description: Publish and invoke tested Agents as Services
  - name: Schedules
    description: Create and manage Schedules through Deployment resources
  - name: Events
    description: Run event streaming
  - name: Models
    description: Model catalog
  - name: Tasks
    description: Asynchronous model task status, settlement, and usage
  - name: Account
    description: Organization balance and API execution history
  - name: Skills
    description: Reusable Agent instruction and resource bundles
  - name: Credentials
    description: Private values injected into Agent runtimes

paths:
  # --- LLM Gateway ------------------------------------------------
  /v1/chat/completions:
    post:
      operationId: createChatCompletion
      tags: [Chat Completions]
      summary: Create chat completion
      description: >-
        OpenAI-compatible chat completions endpoint. SandBase uses model and stream for routing and preserves
        additional provider-compatible fields when the selected route uses the same protocol. Support for
        provider-specific fields can vary when SandBase translates between protocols.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
      responses:
        '200':
          description: Chat completion response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
            text/event-stream:
              schema:
                type: string
                description: "SSE stream of chat.completion.chunk events, followed by data: [DONE]."
        '400': { description: "Invalid JSON, missing model, or an invalid provider request", content: { application/json: { schema: { $ref: '#/components/schemas/ChatCompletionError' } } } }
        '401': { description: Missing or invalid API key, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '402':
          description: Organization spending limit reached
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ChatCompletionError'
                  - $ref: '#/components/schemas/TaskCostError'
        '403':
          description: Organization is disabled, or the API key scope does not authorize this endpoint
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ChatCompletionError'
                  - $ref: '#/components/schemas/APIKeyScopeError'
        '404': { description: Model not found or unavailable, content: { application/json: { schema: { $ref: '#/components/schemas/ChatCompletionError' } } } }
        '429': { description: Rate limit exceeded, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '500': { description: Request persistence or organization lookup failed, content: { application/json: { schema: { $ref: '#/components/schemas/ChatCompletionError' } } } }
        '502': { description: Invalid response from the selected provider, content: { application/json: { schema: { $ref: '#/components/schemas/ChatCompletionError' } } } }
        '503': { description: No provider route succeeded, content: { application/json: { schema: { $ref: '#/components/schemas/ChatCompletionError' } } } }

  /v1/responses:
    post:
      operationId: createResponse
      tags: [Responses]
      summary: Create a model response
      description: >-
        OpenAI-compatible Responses API endpoint. SandBase validates model and stream for routing, rewrites model
        to the selected provider mapping, and preserves other request fields. Responses are rebuilt from public
        OpenAI fields: unknown provider, routing, account, and billing extensions are removed. Unsafe responses fail
        closed instead of being forwarded.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResponsesRequest'
      responses:
        '200':
          description: OpenAI-compatible response object or event stream from the selected provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesResponse'
            text/event-stream:
              schema:
                type: string
                description: >-
                  Sanitized OpenAI Responses events. Public response.* and error events are forwarded; unknown
                  private events and non-public event fields are removed. A malformed stream closes without
                  forwarding unsafe data.
        '400': { description: "Invalid JSON, missing model, no provider, or upstream request rejected", content: { application/json: { schema: { $ref: '#/components/schemas/ChatCompletionError' } } } }
        '401':
          description: Missing or invalid API key, or upstream authentication rejection
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/TaskCostError'
                  - $ref: '#/components/schemas/ChatCompletionError'
        '402':
          description: Organization or API Key spending limit reached
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/TaskCostError'
                  - $ref: '#/components/schemas/ChatCompletionError'
        '403':
          description: API key scope or upstream permission rejection
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/TaskCostError'
                  - $ref: '#/components/schemas/APIKeyScopeError'
                  - $ref: '#/components/schemas/ChatCompletionError'
        '413': { description: Upstream provider rejected the request as too large, content: { application/json: { schema: { $ref: '#/components/schemas/ChatCompletionError' } } } }
        '500': { description: Prediction lifecycle or organization lookup failed, content: { application/json: { schema: { oneOf: [{ $ref: '#/components/schemas/ChatCompletionError' }, { $ref: '#/components/schemas/TaskCostError' }] } } } }
        '502': { description: Upstream response could not be safely parsed and sanitized, content: { application/json: { schema: { $ref: '#/components/schemas/ChatCompletionError' } } } }
        '503': { description: Routing failed or every provider candidate was exhausted, content: { application/json: { schema: { $ref: '#/components/schemas/ChatCompletionError' } } } }

  /v1/embeddings:
    post:
      operationId: createEmbedding
      tags: [Embeddings]
      summary: Create embeddings
      description: OpenAI-compatible embeddings endpoint for semantic search, RAG, clustering, and classification. SandBase validates the logical model and forwards provider-compatible embedding fields; model-specific constraints are defined by the selected model and upstream provider.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddingRequest'
      responses:
        '200':
          description: Embedding response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingResponse'
        '400': { description: Invalid request or non-embedding model, content: { application/json: { schema: { $ref: '#/components/schemas/EmbeddingError' } } } }
        '401': { description: Missing or invalid API key, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '402':
          description: Organization or API Key spending limit reached
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/EmbeddingError'
                  - $ref: '#/components/schemas/TaskCostError'
        '403':
          description: Organization is disabled, or the API key scope does not authorize this endpoint
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/EmbeddingError'
                  - $ref: '#/components/schemas/APIKeyScopeError'
        '404': { description: Logical model not found, content: { application/json: { schema: { $ref: '#/components/schemas/EmbeddingError' } } } }
        '500': { description: Request persistence or organization lookup failed, content: { application/json: { schema: { $ref: '#/components/schemas/EmbeddingError' } } } }
        '503': { description: No provider route succeeded, content: { application/json: { schema: { $ref: '#/components/schemas/EmbeddingError' } } } }

  /v1/images/generations:
    post:
      operationId: createImage
      tags: [Images]
      summary: Generate an image
      description: >-
        Generate images through the synchronous OpenAI Images-compatible endpoint. The public model name is
        gpt-image-2. Additional compatible JSON fields are forwarded unchanged. Streaming and asynchronous mode
        are not supported on this endpoint.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageGenerationRequest'
      responses:
        '200':
          description: Generated images and authoritative token usage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesResponse'
        '400': { description: "Invalid body, unsupported model, streaming request, or provider request", content: { application/json: { schema: { $ref: '#/components/schemas/OpenAIImagesError' } } } }
        '401': { description: Missing or invalid API key, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '402':
          description: Organization or API Key spending limit reached
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/OpenAIImagesError'
                  - $ref: '#/components/schemas/TaskCostError'
        '403':
          description: Organization is disabled, or the API key scope does not authorize this endpoint
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/TaskCostError'
                  - $ref: '#/components/schemas/APIKeyScopeError'
        '404': { description: Routed image model is unavailable, content: { application/json: { schema: { $ref: '#/components/schemas/OpenAIImagesError' } } } }
        '429': { description: Rate limit exceeded, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '500': { description: Request persistence or response processing failed, content: { application/json: { schema: { oneOf: [{ $ref: '#/components/schemas/OpenAIImagesError' }, { $ref: '#/components/schemas/TaskCostError' }] } } } }
        '502': { description: Provider returned an invalid native response, content: { application/json: { schema: { $ref: '#/components/schemas/OpenAIImagesError' } } } }
        '503': { description: No provider route succeeded, content: { application/json: { schema: { $ref: '#/components/schemas/OpenAIImagesError' } } } }

  /v1/images/edits:
    post:
      operationId: createImageEdit
      tags: [Images]
      summary: Edit an image
      description: >-
        Edit one or more uploaded images through the synchronous OpenAI Images-compatible multipart endpoint.
        Repeating the image field is supported. Additional compatible multipart fields are forwarded unchanged.
        Streaming and asynchronous mode are not supported on this endpoint.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ImageEditRequest'
      responses:
        '200':
          description: Edited images and authoritative token usage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesResponse'
        '400': { description: "Invalid multipart body, unsupported model, streaming request, or provider request", content: { application/json: { schema: { $ref: '#/components/schemas/OpenAIImagesError' } } } }
        '401': { description: Missing or invalid API key, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '402':
          description: Organization or API Key spending limit reached
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/OpenAIImagesError'
                  - $ref: '#/components/schemas/TaskCostError'
        '403':
          description: Organization is disabled, or the API key scope does not authorize this endpoint
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/TaskCostError'
                  - $ref: '#/components/schemas/APIKeyScopeError'
        '404': { description: Routed image-edit model is unavailable, content: { application/json: { schema: { $ref: '#/components/schemas/OpenAIImagesError' } } } }
        '429': { description: Rate limit exceeded, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '500': { description: Request persistence or response processing failed, content: { application/json: { schema: { oneOf: [{ $ref: '#/components/schemas/OpenAIImagesError' }, { $ref: '#/components/schemas/TaskCostError' }] } } } }
        '502': { description: Provider returned an invalid native response, content: { application/json: { schema: { $ref: '#/components/schemas/OpenAIImagesError' } } } }
        '503': { description: No provider route succeeded, content: { application/json: { schema: { $ref: '#/components/schemas/OpenAIImagesError' } } } }

  /v1/messages:
    post:
      operationId: createMessage
      tags: [Messages]
      summary: Create message (Anthropic compatible)
      description: >-
        Anthropic Messages-compatible endpoint. SandBase uses model and stream for routing, maps the public model
        name to the selected provider, and otherwise preserves the compatible request and response protocol.
        Provider compatibility rules may remove or reject unsupported beta fields before an upstream attempt.
      security:
        - BearerAuth: []
        - AnthropicApiKey: []
      parameters:
        - name: anthropic-version
          in: header
          required: false
          description: Anthropic API version. Defaults to 2023-06-01 when omitted.
          schema:
            type: string
            default: "2023-06-01"
            example: "2023-06-01"
        - name: anthropic-beta
          in: header
          required: false
          description: Comma-separated Anthropic beta feature identifiers. Availability is provider-specific.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [model, max_tokens, messages]
              additionalProperties: true
              description: Anthropic-compatible request. Additional fields are preserved unless a selected provider's compatibility rules remove or reject them.
              properties:
                model:
                  type: string
                  example: "claude-sonnet-4"
                max_tokens:
                  type: integer
                  example: 4096
                messages:
                  type: array
                  items:
                    type: object
                    required: [role, content]
                    additionalProperties: true
                    properties:
                      role:
                        type: string
                        enum: [user, assistant]
                      content:
                        oneOf:
                          - type: string
                          - type: array
                            items:
                              type: object
                              additionalProperties: true
                system:
                  oneOf:
                    - type: string
                    - type: array
                      items:
                        type: object
                        additionalProperties: true
                temperature:
                  type: number
                  minimum: 0
                  maximum: 1
                top_p:
                  type: number
                  minimum: 0
                  maximum: 1
                top_k:
                  type: integer
                  minimum: 0
                stop_sequences:
                  type: array
                  items: { type: string }
                stream:
                  type: boolean
                  default: false
                metadata:
                  type: object
                  additionalProperties: true
                tools:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                tool_choice:
                  type: object
                  additionalProperties: true
                thinking:
                  type: object
                  description: Extended thinking configuration when supported by the selected model.
                  additionalProperties: true
      responses:
        '200':
          description: Anthropic message response or event stream from the selected provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnthropicMessageResponse'
            text/event-stream:
              schema:
                type: string
                description: Anthropic SSE events, including provider-defined beta events and possible in-stream error events.
        '400': { description: "Invalid JSON, missing model, unsupported feature, or invalid provider request", content: { application/json: { schema: { $ref: '#/components/schemas/AnthropicError' } } } }
        '401': { description: "Missing, invalid, revoked, or expired API key", content: { application/json: { schema: { $ref: '#/components/schemas/AnthropicError' } } } }
        '402': { description: Organization balance and credit are exhausted, content: { application/json: { schema: { $ref: '#/components/schemas/AnthropicError' } } } }
        '403': { description: 'API Key spending limit reached, organization disabled, or upstream permission rejected', content: { application/json: { schema: { $ref: '#/components/schemas/AnthropicError' } } } }
        '404': { description: Model or upstream resource not found, content: { application/json: { schema: { $ref: '#/components/schemas/AnthropicError' } } } }
        '413': { description: Provider rejected the request as too large, content: { application/json: { schema: { $ref: '#/components/schemas/AnthropicError' } } } }
        '429': { description: Provider rate limit exceeded, content: { application/json: { schema: { $ref: '#/components/schemas/AnthropicError' } } } }
        '500': { description: Prediction lifecycle or provider error, content: { application/json: { schema: { $ref: '#/components/schemas/AnthropicError' } } } }
        '502': { description: Upstream stream ended before usable content, content: { application/json: { schema: { $ref: '#/components/schemas/AnthropicError' } } } }
        '503': { description: Routing failed or all provider candidates were unavailable, content: { application/json: { schema: { $ref: '#/components/schemas/AnthropicError' } } } }

  # --- Google Gemini GenerateContent -----------------------------
  /v1beta/models/{model}:generateContent:
    post:
      operationId: generateGeminiContent
      tags: [Gemini]
      summary: Generate content with the Google Gemini protocol
      description: |
        Accepts a Google Gemini GenerateContent request and returns a Gemini-compatible response. A bare model name,
        such as gemini-2.5-flash, is normalized to the SandBase catalog name google/gemini-2.5-flash. This endpoint
        also accepts x-goog-api-key and the key query parameter for Google SDK compatibility, although headers are safer.
      security:
        - GoogleApiKey: []
        - BearerAuth: []
        - GoogleQueryApiKey: []
      parameters:
        - $ref: '#/components/parameters/GeminiModel'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/GeminiGenerateContentRequest' }
      responses:
        '200': { description: Gemini GenerateContent response, content: { application/json: { schema: { $ref: '#/components/schemas/GeminiGenerateContentResponse' } } } }
        '400': { description: Invalid JSON or an input field that SandBase cannot safely translate, content: { application/json: { schema: { $ref: '#/components/schemas/GeminiError' } } } }
        '401': { description: 'Missing, invalid, revoked, or expired API key', content: { application/json: { schema: { $ref: '#/components/schemas/GeminiError' } } } }
        '402': { description: Organization balance and credit are exhausted, content: { application/json: { schema: { $ref: '#/components/schemas/GeminiError' } } } }
        '403': { description: 'API Key spending limit reached, organization disabled, or upstream permission rejected', content: { application/json: { schema: { $ref: '#/components/schemas/GeminiError' } } } }
        '404': { description: 'Model, method, or upstream resource not found', content: { application/json: { schema: { $ref: '#/components/schemas/GeminiError' } } } }
        '429': { description: Provider rate limit exceeded, content: { application/json: { schema: { $ref: '#/components/schemas/GeminiError' } } } }
        '500': { description: Prediction lifecycle or provider error, content: { application/json: { schema: { $ref: '#/components/schemas/GeminiError' } } } }
        '502': { description: Upstream response could not be translated, content: { application/json: { schema: { $ref: '#/components/schemas/GeminiError' } } } }
        '503': { description: Routing failed or all provider candidates were unavailable, content: { application/json: { schema: { $ref: '#/components/schemas/GeminiError' } } } }
        '504': { description: Upstream request timed out, content: { application/json: { schema: { $ref: '#/components/schemas/GeminiError' } } } }

  /v1beta/models/{model}:streamGenerateContent:
    post:
      operationId: streamGeminiContent
      tags: [Gemini]
      summary: Stream content with the Google Gemini protocol
      description: Returns a streamed JSON array by default. Add alt=sse to receive Server-Sent Events instead.
      security:
        - GoogleApiKey: []
        - BearerAuth: []
        - GoogleQueryApiKey: []
      parameters:
        - $ref: '#/components/parameters/GeminiModel'
        - name: alt
          in: query
          schema: { type: string, enum: [sse] }
          description: Set to sse for Server-Sent Events. Any other or omitted value uses the Google-compatible streamed JSON array.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/GeminiGenerateContentRequest' }
      responses:
        '200':
          description: Gemini response frames
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/GeminiGenerateContentResponse' }
            text/event-stream:
              schema:
                type: string
                description: SSE data frames containing Gemini GenerateContentResponse objects.
        '400': { description: Invalid JSON or an input field that SandBase cannot safely translate, content: { application/json: { schema: { $ref: '#/components/schemas/GeminiError' } } } }
        '401': { description: 'Missing, invalid, revoked, or expired API key', content: { application/json: { schema: { $ref: '#/components/schemas/GeminiError' } } } }
        '402': { description: Organization balance and credit are exhausted, content: { application/json: { schema: { $ref: '#/components/schemas/GeminiError' } } } }
        '403': { description: 'API Key spending limit reached, organization disabled, or upstream permission rejected', content: { application/json: { schema: { $ref: '#/components/schemas/GeminiError' } } } }
        '404': { description: 'Model, method, or upstream resource not found', content: { application/json: { schema: { $ref: '#/components/schemas/GeminiError' } } } }
        '429': { description: Provider rate limit exceeded before streaming starts, content: { application/json: { schema: { $ref: '#/components/schemas/GeminiError' } } } }
        '500': { description: Prediction lifecycle or provider error before streaming starts, content: { application/json: { schema: { $ref: '#/components/schemas/GeminiError' } } } }
        '502': { description: Upstream stream could not be translated, content: { application/json: { schema: { $ref: '#/components/schemas/GeminiError' } } } }
        '503': { description: Routing failed or all provider candidates were unavailable, content: { application/json: { schema: { $ref: '#/components/schemas/GeminiError' } } } }
        '504': { description: Upstream request timed out before streaming starts, content: { application/json: { schema: { $ref: '#/components/schemas/GeminiError' } } } }

  # --- Google Gemini Interactions --------------------------------
  /v1beta/interactions:
    post:
      operationId: createGeminiInteraction
      tags: [Gemini]
      summary: Create a Google Gemini Interaction
      description: |
        Proxies the Google Interactions protocol while routing the logical model through SandBase. Successful requests
        always return HTTP 200. Check status: an in_progress response is pollable and is not a completed result.
        Set stream=true for SSE, or background=true for a durable background submission; they cannot both be true.
      security:
        - GoogleApiKey: []
        - BearerAuth: []
        - GoogleQueryApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/GeminiInteractionRequest' }
      responses:
        '200':
          description: Current or terminal Interaction, or an Interaction event stream
          headers:
            Location:
              schema: { type: string }
              description: Polling path when the returned Interaction is still in_progress. This convenience header may be omitted for a terminal response.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/GeminiInteraction' }
            text/event-stream:
              schema:
                type: string
                description: Google Interactions SSE events ending with a done event and data [DONE]. In-stream failures use an error event after headers are written.
        '400': { description: 'Invalid JSON, missing model, unsupported Agent interaction, incompatible background and stream settings, stale conversation affinity, or upstream request rejection', content: { application/json: { schema: { $ref: '#/components/schemas/GeminiError' } } } }
        '401': { description: 'Missing, invalid, revoked, or expired API key', content: { application/json: { schema: { $ref: '#/components/schemas/GeminiError' } } } }
        '402': { description: Organization balance and credit are exhausted, content: { application/json: { schema: { $ref: '#/components/schemas/GeminiError' } } } }
        '403': { description: 'API Key spending limit reached, organization disabled, or upstream permission rejected', content: { application/json: { schema: { $ref: '#/components/schemas/GeminiError' } } } }
        '404': { description: Logical model or usable provider was not found, content: { application/json: { schema: { $ref: '#/components/schemas/GeminiError' } } } }
        '422': { description: Upstream rejected otherwise valid Interaction fields, content: { application/json: { schema: { $ref: '#/components/schemas/GeminiError' } } } }
        '429': { description: Provider rate limit exceeded after failover attempts, content: { application/json: { schema: { $ref: '#/components/schemas/GeminiError' } } } }
        '500': { description: Prediction lifecycle or internal persistence failed, content: { application/json: { schema: { $ref: '#/components/schemas/GeminiError' } } } }
        '502': { description: Upstream response exceeded the gateway size limit, content: { application/json: { schema: { $ref: '#/components/schemas/GeminiError' } } } }
        '503': { description: 'Routing, upstream connection, or durable background handoff failed', content: { application/json: { schema: { $ref: '#/components/schemas/GeminiError' } } } }
        '504': { description: Upstream request timed out after failover attempts, content: { application/json: { schema: { $ref: '#/components/schemas/GeminiError' } } } }

  /v1beta/interactions/{id}:
    get:
      operationId: getGeminiInteraction
      tags: [Gemini]
      summary: Get a Google Gemini Interaction
      description: |
        Retrieves the Interaction created by the same SandBase API key. Non-terminal responses omit partial output and
        usage. When upstream media has expired, a terminal fallback can preserve structure and metadata without the
        original media bytes; download terminal media promptly rather than treating this endpoint as durable storage.
      security:
        - GoogleApiKey: []
        - BearerAuth: []
        - GoogleQueryApiKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, minLength: 1 }
          description: Upstream Interaction ID returned by POST. It is not a SandBase prediction ID.
      responses:
        '200': { description: Current or terminal Interaction, content: { application/json: { schema: { $ref: '#/components/schemas/GeminiInteraction' } } } }
        '400': { description: Empty Interaction ID, content: { application/json: { schema: { $ref: '#/components/schemas/GeminiError' } } } }
        '401': { description: 'Missing, invalid, revoked, or expired API key', content: { application/json: { schema: { $ref: '#/components/schemas/GeminiError' } } } }
        '402': { description: Organization balance and credit are exhausted, content: { application/json: { schema: { $ref: '#/components/schemas/GeminiError' } } } }
        '403': { description: API Key spending limit reached or organization disabled, content: { application/json: { schema: { $ref: '#/components/schemas/GeminiError' } } } }
        '404': { description: 'Interaction is unknown, expired, or not owned by the current API key', content: { application/json: { schema: { $ref: '#/components/schemas/GeminiError' } } } }
        '500': { description: Organization admission lookup failed, content: { application/json: { schema: { $ref: '#/components/schemas/GeminiError' } } } }
        '502': { description: Upstream Interaction response exceeded the gateway size limit, content: { application/json: { schema: { $ref: '#/components/schemas/GeminiError' } } } }
        '503': { description: 'Affinity storage, provider lookup, credentials, or upstream retrieval is temporarily unavailable', content: { application/json: { schema: { $ref: '#/components/schemas/GeminiError' } } } }

  # --- Volcengine Ark Contents Generations ----------------------
  /api/v3/contents/generations/tasks:
    post:
      operationId: createVolcengineContentsGenerationTask
      tags: [Volcengine Contents Generations]
      summary: Create a content generation task
      description: Creates an asynchronous Seedance video generation task using the Volcengine Ark native request shape.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/VolcengineContentsGenerationRequest' }
      responses:
        '200': { description: Task accepted, content: { application/json: { schema: { $ref: '#/components/schemas/VolcengineTaskCreated' } } } }
        '400': { description: 'Invalid JSON, unsupported model or content mode, or rejected generation parameters', content: { application/json: { schema: { $ref: '#/components/schemas/VolcengineError' } } } }
        '401': { description: 'Missing, invalid, revoked, or expired API key', content: { application/json: { schema: { $ref: '#/components/schemas/VolcengineError' } } } }
        '402': { description: Organization balance and credit are exhausted, content: { application/json: { schema: { $ref: '#/components/schemas/VolcengineError' } } } }
        '403': { description: 'API Key spending limit reached, organization disabled, or upstream permission rejected', content: { application/json: { schema: { $ref: '#/components/schemas/VolcengineError' } } } }
        '404': { description: Model or upstream resource not found, content: { application/json: { schema: { $ref: '#/components/schemas/VolcengineError' } } } }
        '429': { description: Provider rate limit exceeded, content: { application/json: { schema: { $ref: '#/components/schemas/VolcengineError' } } } }
        '500': { description: Prediction lifecycle or provider error, content: { application/json: { schema: { $ref: '#/components/schemas/VolcengineError' } } } }
    get:
      operationId: listVolcengineContentsGenerationTasks
      tags: [Volcengine Contents Generations]
      summary: List content generation tasks
      description: Lists non-deleted native video tasks created by the same organization and API key, newest first.
      security:
        - BearerAuth: []
      parameters:
        - { name: page_num, in: query, schema: { type: integer, minimum: 1, maximum: 500, default: 1 } }
        - { name: page_size, in: query, schema: { type: integer, minimum: 1, maximum: 500, default: 10 } }
        - name: filter.task_ids
          in: query
          description: Task IDs, supplied as repeated parameters or a comma-separated value.
          schema: { type: array, items: { type: string } }
          style: form
          explode: true
        - { name: filter.model, in: query, schema: { type: string } }
        - { name: filter.status, in: query, schema: { type: string, enum: [queued, running, cancelled, succeeded, failed, expired] } }
      responses:
        '200': { description: Task page, content: { application/json: { schema: { $ref: '#/components/schemas/VolcengineTaskList' } } } }
        '401': { description: 'Missing, invalid, revoked, or expired API key', content: { application/json: { schema: { $ref: '#/components/schemas/VolcengineError' } } } }
        '402': { description: Organization balance and credit are exhausted, content: { application/json: { schema: { $ref: '#/components/schemas/VolcengineError' } } } }
        '403': { description: API Key spending limit reached or organization disabled, content: { application/json: { schema: { $ref: '#/components/schemas/VolcengineError' } } } }
        '500': { description: Task lookup failed, content: { application/json: { schema: { $ref: '#/components/schemas/VolcengineError' } } } }

  /api/v3/contents/generations/tasks/{task_id}:
    parameters:
      - name: task_id
        in: path
        required: true
        schema: { type: string, minLength: 1 }
        description: Task ID returned by the create operation.
    get:
      operationId: getVolcengineContentsGenerationTask
      tags: [Volcengine Contents Generations]
      summary: Get a content generation task
      security:
        - BearerAuth: []
      responses:
        '200': { description: Current task state, content: { application/json: { schema: { $ref: '#/components/schemas/VolcengineTask' } } } }
        '401': { description: 'Missing, invalid, revoked, or expired API key', content: { application/json: { schema: { $ref: '#/components/schemas/VolcengineError' } } } }
        '402': { description: Organization balance and credit are exhausted, content: { application/json: { schema: { $ref: '#/components/schemas/VolcengineError' } } } }
        '403': { description: API Key spending limit reached or organization disabled, content: { application/json: { schema: { $ref: '#/components/schemas/VolcengineError' } } } }
        '404': { description: 'Task is unknown, deleted, not native, or not owned by the current API key', content: { application/json: { schema: { $ref: '#/components/schemas/VolcengineError' } } } }
        '500': { description: Task lookup failed, content: { application/json: { schema: { $ref: '#/components/schemas/VolcengineError' } } } }
    delete:
      operationId: deleteVolcengineContentsGenerationTask
      tags: [Volcengine Contents Generations]
      summary: Cancel or delete a content generation task
      description: Cancels a queued task or hides a terminal task. Running and already-cancelled tasks cannot be deleted.
      security:
        - BearerAuth: []
      responses:
        '204': { description: Task cancelled or deleted }
        '400': { description: 'Task is running, already cancelled, or otherwise cannot be deleted in its current state', content: { application/json: { schema: { $ref: '#/components/schemas/VolcengineError' } } } }
        '401': { description: 'Missing, invalid, revoked, or expired API key', content: { application/json: { schema: { $ref: '#/components/schemas/VolcengineError' } } } }
        '402': { description: Organization balance and credit are exhausted, content: { application/json: { schema: { $ref: '#/components/schemas/VolcengineError' } } } }
        '403': { description: API Key spending limit reached or organization disabled, content: { application/json: { schema: { $ref: '#/components/schemas/VolcengineError' } } } }
        '404': { description: 'Task is unknown, deleted, not native, or not owned by the current API key', content: { application/json: { schema: { $ref: '#/components/schemas/VolcengineError' } } } }
        '500': { description: Task update failed, content: { application/json: { schema: { $ref: '#/components/schemas/VolcengineError' } } } }

  # --- Account ----------------------------------------------------
  /v1/account/balance:
    get:
      operationId: getAccountBalance
      tags: [Account]
      summary: Get account balance
      description: Returns the balance and optional credit settings for the organization that owns the API key.
      responses:
        '200':
          description: Organization balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountBalance'
        '401':
          description: The API key did not resolve an organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCostError'
        '402':
          description: API key spending limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCostError'
        '403':
          description: API key scope does not authorize this endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyScopeError'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCostError'

  /v1/account/history:
    get:
      operationId: listAccountHistory
      tags: [Account]
      summary: List execution history
      description: Lists recent execution records for the API key's organization, newest first. Input and output snapshots are included only when stored JSON can be decoded. Error messages are sanitized before they are returned.
      parameters:
        - { name: model, in: query, schema: { type: string }, description: Exact logical model name. }
        - { name: api_key_id, in: query, schema: { type: string }, description: Exact API Key resource ID within the organization. }
        - { name: type, in: query, schema: { type: string }, description: 'Execution category. Supported filters are multimodal (image, video, and audio), llm, and api; any other value applies no type filter.' }
        - { name: status, in: query, schema: { type: string, enum: [completed, failure, in_progress] }, description: Status group. failure includes failed and timeout; in_progress includes pending and running. }
        - { name: error_type, in: query, schema: { type: string, maxLength: 50 }, description: Exact error type. Use unknown for records without an error type. }
        - { name: range, in: query, schema: { type: string, default: 7d }, description: 'Rolling created-at range when an explicit analytics window is not used. Supported values are 1h, 24h, 7d, and 30d; every other value falls back to 7d.' }
        - { name: page, in: query, schema: { type: integer, minimum: 1, default: 1 } }
        - { name: page_size, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 20 } }
        - { name: request_id, in: query, schema: { type: string, maxLength: 64 }, description: "Exact organization-scoped execution ID lookup. When set, other filters are ignored and the response is forced to page 1 with page_size 1." }
        - { name: time_basis, in: query, schema: { type: string, enum: [created_at, settled_at], default: created_at }, description: Timestamp basis for an explicit start_at/end_at window. }
        - { name: billing_scope, in: query, schema: { type: string, enum: [any, positive, token], default: any }, description: Settlement filter. positive and token are valid only with time_basis=settled_at. }
        - { name: start_at, in: query, schema: { type: string, format: date-time }, description: Inclusive RFC 3339 window start. Must be paired with end_at; the window cannot exceed 32 days. }
        - { name: end_at, in: query, schema: { type: string, format: date-time }, description: Exclusive RFC 3339 window end. Must be paired with start_at. }
        - { name: latency_sample, in: query, schema: { type: string, enum: [positive, terminal_positive] }, description: "Restrict latency samples to positive values, optionally only for terminal executions." }
        - { name: min_latency_ms, in: query, schema: { type: integer, minimum: 0 }, description: Minimum recorded latency in milliseconds. }
        - { name: timezone, in: query, schema: { type: string, maxLength: 64 }, description: 'Compatibility parameter. Without request_id, a valid IANA time-zone name is required when supplied, but raw response timestamps remain unchanged. Exact request_id mode ignores it.' }
      responses:
        '200':
          description: Paginated execution history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountHistoryPage'
        '400':
          description: Invalid filter or analytics window
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCostError'
        '401':
          description: The API key did not resolve an organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCostError'
        '402':
          description: API key spending limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCostError'
        '403':
          description: API key scope does not authorize this endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyScopeError'
        '500':
          description: History lookup failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCostError'

  # --- Tasks ------------------------------------------------------
  /v1/tasks/{task_id}/cost:
    get:
      operationId: getTaskCost
      tags: [Tasks]
      summary: Get task cost and usage
      description: |
        Returns the settlement status, final user cost, estimated cost, and token usage for a recent task.
        Public API keys can retrieve only tasks originally created by that same API key, even when another key belongs to the same organization.
        This lookup remains available after the key reaches its spending limit, but expired, revoked, or scoped keys are still rejected.
        When `settled` is false, `cost` is not final and must not be used for billing or reconciliation.
        Use `estimated_cost` only as a display estimate until final settlement completes.
        Older task execution records may be archived after the retention window and then return 404.
        Use billing records or billing exports for long-term reconciliation.
      parameters:
        - name: task_id
          in: path
          required: true
          description: Opaque task ID returned by a billable operation, including an x-task-id response header when present.
          schema:
            type: string
      responses:
        '200':
          description: Task cost and usage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCostResponse'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCostError'
        '403':
          description: API key scope does not authorize this endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyScopeError'
        '404':
          description: Task does not exist or is not accessible with the current API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCostError'

  # --- Unified model and API execution ---------------------------
  /v1/run:
    post:
      operationId: runCapability
      tags: [Models]
      summary: Run a model or API capability
      description: |
        Executes the selected catalog capability. Capability-specific fields must match the live schema returned by
        the model detail endpoint or Store. Asynchronous capabilities can be polled with GET /v1/run/{id}.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunRequest'
      responses:
        '200':
          description: Capability completed synchronously, or a streaming response started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunResponse'
            text/event-stream:
              schema:
                type: string
                description: Server-Sent Events when stream is true or mode is stream and the selected model supports streaming.
        '202':
          description: Capability accepted for asynchronous execution
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunResponse'
        '400':
          description: Invalid JSON, unsupported execution mode, invalid capability input, or invalid webhook URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCostError'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCostError'
        '402':
          description: Insufficient balance or spending limit reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCostError'
        '403':
          description: The current API key cannot use the selected capability
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCostError'
        '404':
          description: Model or capability not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCostError'
        '500':
          description: Internal execution error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCostError'
        '502':
          description: Upstream provider returned an invalid response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCostError'
        '503':
          description: No provider is currently available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCostError'

  /v1/run/{id}:
    get:
      operationId: getRun
      tags: [Models]
      summary: Get an asynchronous run
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
          description: Opaque ID returned by POST /v1/run. Do not assume a prefix or derive it independently.
      responses:
        '200':
          description: Current or terminal run state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunResponse'
        '404':
          description: Run not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCostError'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCostError'
        '402':
          description: API key spending limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCostError'
        '403':
          description: API key scope does not authorize this endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyScopeError'

  /v1/api/{vendor}/{upstream_path}:
    parameters:
      - name: vendor
        in: path
        required: true
        schema: { type: string, minLength: 1 }
        description: First segment of the enabled catalog capability name.
      - name: upstream_path
        in: path
        required: true
        schema: { type: string, minLength: 1 }
        description: Remaining capability-name path. It may contain multiple literal slash-separated segments; do not percent-encode those slashes.
    get:
      operationId: getAPICapability
      tags: [Models]
      summary: Invoke a catalog API capability with GET
      description: Resolves the enabled catalog model named vendor/upstream_path and executes it through the unified pipeline. The request body is empty; capability-specific query parameters remain on the incoming request and are available only when supported by that capability.
      responses:
        '200': { description: Capability-specific synchronous response, content: { application/json: { schema: { $ref: '#/components/schemas/APIPassthroughResponse' } } } }
        '202': { description: Capability accepted for asynchronous execution, content: { application/json: { schema: { $ref: '#/components/schemas/APIPassthroughResponse' } } } }
        '400': { description: Capability input is invalid, content: { application/json: { schema: { $ref: '#/components/schemas/APIPassthroughError' } } } }
        '401': { description: Missing or invalid API key, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '402': { description: Insufficient balance or spending limit reached, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '403': { description: API key or capability access is forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/APIPassthroughError' } } } }
        '404': { description: No enabled catalog capability matches the vendor and path, content: { application/json: { schema: { $ref: '#/components/schemas/APIPassthroughError' } } } }
        '500': { description: Internal execution error, content: { application/json: { schema: { $ref: '#/components/schemas/APIPassthroughError' } } } }
        '502': { description: Upstream provider returned an invalid response, content: { application/json: { schema: { $ref: '#/components/schemas/APIPassthroughError' } } } }
        '503': { description: No provider is currently available, content: { application/json: { schema: { $ref: '#/components/schemas/APIPassthroughError' } } } }
    post:
      operationId: postAPICapability
      tags: [Models]
      summary: Invoke a catalog API capability with POST
      description: Resolves the enabled catalog model named vendor/upstream_path and executes a JSON object through the unified pipeline. When model is omitted, the URL-derived capability name is injected. A supplied model field is preserved and remains authoritative.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200': { description: Capability-specific synchronous response, content: { application/json: { schema: { $ref: '#/components/schemas/APIPassthroughResponse' } } } }
        '202': { description: Capability accepted for asynchronous execution, content: { application/json: { schema: { $ref: '#/components/schemas/APIPassthroughResponse' } } } }
        '400': { description: Body is not a JSON object or capability input is invalid, content: { application/json: { schema: { $ref: '#/components/schemas/APIPassthroughError' } } } }
        '401': { description: Missing or invalid API key, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '402': { description: Insufficient balance or spending limit reached, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '403': { description: API key or capability access is forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/APIPassthroughError' } } } }
        '404': { description: No enabled catalog capability matches the vendor and path, content: { application/json: { schema: { $ref: '#/components/schemas/APIPassthroughError' } } } }
        '500': { description: Internal execution error, content: { application/json: { schema: { $ref: '#/components/schemas/APIPassthroughError' } } } }
        '502': { description: Upstream provider returned an invalid response, content: { application/json: { schema: { $ref: '#/components/schemas/APIPassthroughError' } } } }
        '503': { description: No provider is currently available, content: { application/json: { schema: { $ref: '#/components/schemas/APIPassthroughError' } } } }

  /v1/upload:
    post:
      operationId: uploadMedia
      tags: [Models]
      summary: Upload media for model input
      description: |
        Uploads one image, audio, or video file and returns its stored URL. The server detects the actual MIME type
        from the file bytes and filename; the optional type form field is only a hint and does not override detection.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadMediaRequest'
      responses:
        '200':
          description: Media uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadMediaResponse'
        '400':
          description: Missing file, invalid multipart data, unsupported MIME type, or file too large
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskCostError' }
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskCostError' }
        '402':
          description: API key spending limit exceeded
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskCostError' }
        '403':
          description: API key scope does not authorize this endpoint
          content:
            application/json:
              schema: { $ref: '#/components/schemas/APIKeyScopeError' }
        '500':
          description: File could not be read or stored
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskCostError' }
        '503':
          description: File storage is not configured
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskCostError' }

  # --- Assets -----------------------------------------------------
  /v1/assets:
    post:
      operationId: createAsset
      tags: [Models]
      summary: Register a media asset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAssetRequest'
      responses:
        '200':
          description: Asset registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAssetResponse'
        '400':
          description: Invalid JSON, missing URL, or unsupported asset type
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskCostError' }
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskCostError' }
        '402':
          description: API key spending limit exceeded
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskCostError' }
        '403':
          description: API key scope does not authorize this endpoint
          content:
            application/json:
              schema: { $ref: '#/components/schemas/APIKeyScopeError' }
        '500':
          description: Asset provider credentials are unavailable or the asset record could not be saved
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskCostError' }
        '502':
          description: Upstream asset registration failed
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskCostError' }

  /v1/assets/{id}:
    get:
      operationId: getAsset
      tags: [Models]
      summary: Get asset metadata and a signed download URL
      parameters:
        - name: id
          in: path
          required: true
          description: External Asset ID without the asset:// prefix.
          schema: { type: string }
      responses:
        '200':
          description: Asset metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAssetResponse'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskCostError' }
        '402':
          description: API key spending limit exceeded
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskCostError' }
        '403':
          description: API key scope does not authorize this endpoint
          content:
            application/json:
              schema: { $ref: '#/components/schemas/APIKeyScopeError' }
        '404':
          description: Asset not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskCostError' }
        '500':
          description: Internal asset lookup error or provider credentials are unavailable
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskCostError' }
        '502':
          description: Upstream asset query failed
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskCostError' }

  # --- Services (Endpoint resources) -----------------------------
  /v1/endpoints:
    post:
      operationId: createEndpoint
      tags: [Services]
      summary: Create a Service
      description: |
        Creates a Service from either a declarative runtime definition or an existing Agent and Environment.
        The two creation modes are mutually exclusive. Declarative YAML uses the same schema as JSON.
        The bound Agent and Environment must use the same runtime provider, and that provider must be enabled for the organization.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/CreateDeclarativeEndpointRequest'
                - $ref: '#/components/schemas/CreateAdvancedEndpointRequest'
          application/yaml:
            schema:
              $ref: '#/components/schemas/CreateDeclarativeEndpointRequest'
          application/x-yaml:
            schema:
              $ref: '#/components/schemas/CreateDeclarativeEndpointRequest'
      responses:
        '201':
          description: Service created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
        '400':
          description: Invalid definition or creation mode
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskCostError' }
        '402': { description: API key spending limit exceeded, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '403': { description: API key scope does not authorize this endpoint, content: { application/json: { schema: { $ref: '#/components/schemas/APIKeyScopeError' } } } }
        '404':
          description: Referenced Skill, Agent version, or Environment was not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/APIError' }
        '409':
          description: Referenced Agent is archived
          content:
            application/json:
              schema: { $ref: '#/components/schemas/APIError' }
        '415':
          description: Content-Type is not application/json, application/yaml, or application/x-yaml
          content:
            application/json:
              schema: { $ref: '#/components/schemas/APIError' }
        '422':
          description: Runtime or Skill is incompatible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Service creation or declarative compilation failed
          content:
            application/json:
              schema: { $ref: '#/components/schemas/APIError' }
    get:
      operationId: listEndpoints
      tags: [Services]
      summary: List Services
      parameters:
        - name: q
          in: query
          schema: { type: string }
          description: Search by ID, name, slug, runtime, Agent ID, or Environment ID. `search` is accepted as a compatibility alias.
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
        - name: page
          in: query
          schema: { type: string }
          description: Opaque cursor from a previous response's next_page field.
      responses:
        '200':
          description: Service list
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Endpoint'
                  next_page:
                    type: string
                    description: Opaque cursor included only when another page is available.
        '400':
          description: Invalid page cursor
          content:
            application/json:
              schema: { $ref: '#/components/schemas/APIError' }
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskCostError' }
        '402': { description: API key spending limit exceeded, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '403': { description: API key scope does not authorize this endpoint, content: { application/json: { schema: { $ref: '#/components/schemas/APIKeyScopeError' } } } }
        '500':
          description: Service list could not be loaded
          content:
            application/json:
              schema: { $ref: '#/components/schemas/APIError' }

  /v1/endpoints/{id}:
    get:
      operationId: getEndpoint
      tags: [Services]
      summary: Get a Service
      parameters:
        - $ref: '#/components/parameters/EndpointId'
      responses:
        '200':
          description: Service details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
        '404':
          description: Service not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/APIError' }
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskCostError' }
        '402': { description: API key spending limit exceeded, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '403': { description: API key scope does not authorize this endpoint, content: { application/json: { schema: { $ref: '#/components/schemas/APIKeyScopeError' } } } }
    patch:
      operationId: updateEndpoint
      tags: [Services]
      summary: Update a Service
      description: Declarative definition fields are immutable in this release; operational fields such as name, status, and protocols may be updated.
      parameters:
        - $ref: '#/components/parameters/EndpointId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEndpointRequest'
      responses:
        '200':
          description: Service updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
        '409':
          description: Agent version conflict, archived Agent, or immutable declarative definition
          content:
            application/json:
              schema: { $ref: '#/components/schemas/APIError' }
        '400': { description: 'Invalid request, status, protocols, Agent binding, or required expected version', content: { application/json: { schema: { $ref: '#/components/schemas/APIError' } } } }
        '401': { description: Missing or invalid API key, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '402': { description: API key spending limit exceeded, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '403': { description: API key scope does not authorize this endpoint, content: { application/json: { schema: { $ref: '#/components/schemas/APIKeyScopeError' } } } }
        '404': { description: 'Service, Agent version, or Environment not found', content: { application/json: { schema: { $ref: '#/components/schemas/APIError' } } } }
        '422': { description: Runtime provider is unsupported, content: { application/json: { schema: { $ref: '#/components/schemas/APIError' } } } }
        '500': { description: Service update failed, content: { application/json: { schema: { $ref: '#/components/schemas/APIError' } } } }
    post:
      operationId: updateEndpointCompatibility
      tags: [Services]
      summary: Update a Service (compatibility alias)
      description: Compatibility alias for PATCH. New integrations should use PATCH.
      parameters:
        - $ref: '#/components/parameters/EndpointId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEndpointRequest'
      responses:
        '200':
          description: Service updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
        '409':
          description: Agent version conflict, archived Agent, or immutable declarative definition
          content:
            application/json:
              schema: { $ref: '#/components/schemas/APIError' }
        '400': { description: 'Invalid request, status, protocols, Agent binding, or required expected version', content: { application/json: { schema: { $ref: '#/components/schemas/APIError' } } } }
        '401': { description: Missing or invalid API key, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '402': { description: API key spending limit exceeded, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '403': { description: API key scope does not authorize this endpoint, content: { application/json: { schema: { $ref: '#/components/schemas/APIKeyScopeError' } } } }
        '404': { description: 'Service, Agent version, or Environment not found', content: { application/json: { schema: { $ref: '#/components/schemas/APIError' } } } }
        '422': { description: Runtime provider is unsupported, content: { application/json: { schema: { $ref: '#/components/schemas/APIError' } } } }
        '500': { description: Service update failed, content: { application/json: { schema: { $ref: '#/components/schemas/APIError' } } } }
    delete:
      operationId: deleteEndpoint
      tags: [Services]
      summary: Delete a Service
      parameters:
        - $ref: '#/components/parameters/EndpointId'
      responses:
        '200':
          description: Service deleted
          content:
            application/json:
              schema:
                type: object
                required: [id, deleted]
                properties:
                  id: { type: string }
                  deleted: { type: boolean, const: true }
        '404': { description: Service not found, content: { application/json: { schema: { $ref: '#/components/schemas/APIError' } } } }
        '401': { description: Missing or invalid API key, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '402': { description: API key spending limit exceeded, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '403': { description: API key scope does not authorize this endpoint, content: { application/json: { schema: { $ref: '#/components/schemas/APIKeyScopeError' } } } }
        '500': { description: Service deletion failed, content: { application/json: { schema: { $ref: '#/components/schemas/APIError' } } } }

  /v1/endpoints/{id}/run:
    post:
      operationId: runEndpoint
      tags: [Services]
      summary: Invoke a Service over REST
      description: |
        Creates or continues a persistent Session and sends one standard event. Omit `session_id` to create a
        Session fixed to the Service's Agent version and Runtime Environment snapshot. Provide `session_id` to
        continue that Session. Returns the persistent Session ID and accepted events; no public execution Run or
        internal Runtime Session identity is exposed. When both input and content are supplied, content takes precedence.
      parameters:
        - $ref: '#/components/parameters/EndpointId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointInvokeRequest'
      responses:
        '202':
          description: Session event accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointInvokeAccepted'
        '400':
          description: Invalid JSON or missing usable input/content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskCostError' }
        '402': { description: API key spending limit exceeded, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '403':
          description: Service is disabled, REST is not enabled, or the API key scope does not authorize this endpoint
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/APIError'
                  - $ref: '#/components/schemas/APIKeyScopeError'
        '404':
          description: Service or supplied Session not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/APIError' }
        '409':
          description: Session is busy, archived, terminal, or bound to another Service, Agent, version, or Environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Session creation or turn acceptance failed
          content:
            application/json:
              schema: { $ref: '#/components/schemas/APIError' }
        '503':
          description: Stateful persistence or recovery is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'

  /v1/endpoints/{id}/acp:
    post:
      operationId: callEndpointAcp
      tags: [Services]
      summary: Invoke a Service over experimental ACP
      description: |
        Experimental ACP-over-HTTP JSON-RPC transport supporting initialize, session/new, session/prompt, and
        session/cancel. Prompt output is newline-delimited JSON. Runtime failures use redacted public error messages;
        the remote transport may change while ACP remains experimental.
      parameters:
        - $ref: '#/components/parameters/EndpointId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ACPRequest'
      responses:
        '200':
          description: ACP JSON-RPC response or newline-delimited prompt stream
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACPResponse'
            application/x-ndjson:
              schema:
                type: string
                description: ACP session/update notifications followed by the final JSON-RPC result.
        '400':
          description: Invalid JSON-RPC request
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ACPResponse' }
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskCostError' }
        '402': { description: API key spending limit exceeded, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '403': { description: API key scope does not authorize this endpoint, content: { application/json: { schema: { $ref: '#/components/schemas/APIKeyScopeError' } } } }
        '404':
          description: Service or ACP session not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ACPResponse' }
        '500':
          description: ACP Session could not be created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ACPResponse' }

  /v1/endpoints/{id}/mcp:
    post:
      operationId: callEndpointMcp
      tags: [Services]
      summary: Invoke a Service over MCP
      description: Handle MCP JSON-RPC for a Service whose protocols include mcp. Responses may be newline-delimited when the transport emits a stream.
      parameters:
        - $ref: '#/components/parameters/EndpointId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MCPRequest' }
      responses:
        '200':
          description: MCP JSON-RPC response or newline-delimited stream
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MCPResponse' }
            application/x-ndjson:
              schema: { type: string, description: Newline-delimited MCP JSON-RPC messages. }
        '400': { description: Invalid MCP JSON-RPC request, content: { application/json: { schema: { $ref: '#/components/schemas/MCPResponse' } } } }
        '401': { description: Missing or invalid API key, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '402': { description: API key spending limit exceeded, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '403': { description: 'Service is disabled, MCP is not enabled, or the API key scope does not authorize this endpoint', content: { application/json: { schema: { $ref: '#/components/schemas/APIKeyScopeError' } } } }
        '404': { description: Service not found, content: { application/json: { schema: { $ref: '#/components/schemas/APIError' } } } }
        '500': { description: MCP transport failed, content: { application/json: { schema: { $ref: '#/components/schemas/APIError' } } } }
    delete:
      operationId: closeEndpointMcp
      tags: [Services]
      summary: Close a Service MCP transport
      description: Close and clean up MCP transport state without deleting or disabling the Service.
      parameters:
        - $ref: '#/components/parameters/EndpointId'
      responses:
        '204': { description: MCP transport state closed }
        '401': { description: Missing or invalid API key, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '402': { description: API key spending limit exceeded, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '403': { description: API key scope does not authorize this endpoint, content: { application/json: { schema: { $ref: '#/components/schemas/APIKeyScopeError' } } } }
        '404': { description: Service not found, content: { application/json: { schema: { $ref: '#/components/schemas/APIError' } } } }
        '500': { description: MCP transport cleanup failed, content: { application/json: { schema: { $ref: '#/components/schemas/APIError' } } } }

  # --- Agents -----------------------------------------------------
  /v1/agents:
    post:
      operationId: createAgent
      tags: [Agents]
      summary: Create agent
      description: Create a reusable, versioned Agent configuration. Model IDs must use the public vendor/model identity. Unknown request fields are accepted and ignored. Omitted tools default to the built-in Agent toolset; an explicit null leaves tools null.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentRequest'
      responses:
        '200':
          description: Agent created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '400': { description: 'Missing or invalid name, model, visibility, multiagent configuration, or MCP headers', content: { application/json: { schema: { $ref: '#/components/schemas/SessionAPIError' } } } }
        '401': { description: Missing or invalid API key, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '402': { description: API key spending limit exceeded, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '403': { description: API key scope does not authorize this endpoint, content: { application/json: { schema: { $ref: '#/components/schemas/APIKeyScopeError' } } } }
        '422': { description: Model identity is invalid or unavailable, content: { application/json: { schema: { $ref: '#/components/schemas/SessionAPIError' } } } }
        '500': { description: Agent could not be created or validated, content: { application/json: { schema: { $ref: '#/components/schemas/SessionAPIError' } } } }
    get:
      operationId: listAgents
      tags: [Agents]
      summary: List agents
      parameters:
        - { name: 'created_at[gte]', in: query, schema: { type: string, format: date-time } }
        - { name: 'created_at[lte]', in: query, schema: { type: string, format: date-time } }
        - { name: include_archived, in: query, schema: { type: boolean, default: false } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 20 } }
        - { name: page, in: query, schema: { type: string } }
      responses:
        '200':
          description: Agent list
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AgentListPage' }
        '400': { description: Invalid page cursor, content: { application/json: { schema: { $ref: '#/components/schemas/SessionAPIError' } } } }
        '401': { description: Missing or invalid API key, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '402': { description: API key spending limit exceeded, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '403': { description: API key scope does not authorize this endpoint, content: { application/json: { schema: { $ref: '#/components/schemas/APIKeyScopeError' } } } }
        '500': { description: Agents could not be listed, content: { application/json: { schema: { $ref: '#/components/schemas/SessionAPIError' } } } }

  /v1/agents/{id}:
    get:
      operationId: getAgent
      tags: [Agents]
      summary: Get agent
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - name: version
          in: query
          schema: { type: integer, minimum: 1 }
          description: Return the immutable Agent snapshot for this numeric version. Omit for the current version.
      responses:
        '200':
          description: Agent details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '400': { description: Invalid numeric version selector, content: { application/json: { schema: { $ref: '#/components/schemas/SessionAPIError' } } } }
        '401': { description: Missing or invalid API key, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '402': { description: API key spending limit exceeded, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '403': { description: API key scope does not authorize this endpoint, content: { application/json: { schema: { $ref: '#/components/schemas/APIKeyScopeError' } } } }
        '404': { description: Agent or requested version not found, content: { application/json: { schema: { $ref: '#/components/schemas/SessionAPIError' } } } }
        '500': { description: Agent or snapshot could not be loaded, content: { application/json: { schema: { $ref: '#/components/schemas/SessionAPIError' } } } }
    post:
      operationId: updateAgent
      tags: [Agents]
      summary: Update agent
      description: Update Agent configuration. Effective changes create a new version; a no-op returns the current Agent without incrementing it. Omitted fields and null scalar fields preserve their current values. Array null values clear those arrays. Unknown fields are accepted and ignored.
      parameters:
        - $ref: '#/components/parameters/AgentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgentRequest'
      responses:
        '200':
          description: Agent updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '400': { description: 'Invalid request, model, multiagent configuration, or MCP headers', content: { application/json: { schema: { $ref: '#/components/schemas/SessionAPIError' } } } }
        '401': { description: Missing or invalid API key, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '402': { description: API key spending limit exceeded, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '403':
          description: Agent is archived or the API key scope does not authorize this endpoint
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/SessionAPIError'
                  - $ref: '#/components/schemas/APIKeyScopeError'
        '404': { description: Agent not found, content: { application/json: { schema: { $ref: '#/components/schemas/SessionAPIError' } } } }
        '409': { description: Supplied version does not match the current Agent version, content: { application/json: { schema: { $ref: '#/components/schemas/SessionAPIError' } } } }
        '422': { description: Model identity is invalid or unavailable, content: { application/json: { schema: { $ref: '#/components/schemas/SessionAPIError' } } } }
        '500': { description: Agent could not be updated or validated, content: { application/json: { schema: { $ref: '#/components/schemas/SessionAPIError' } } } }

  /v1/agents/{id}/archive:
    post:
      operationId: archiveAgent
      tags: [Agents]
      summary: Archive agent
      description: Archive an agent, making it read-only.
      parameters:
        - $ref: '#/components/parameters/AgentId'
      responses:
        '200':
          description: Agent archived
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '401': { description: Missing or invalid API key, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '402': { description: API key spending limit exceeded, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '403': { description: API key scope does not authorize this endpoint, content: { application/json: { schema: { $ref: '#/components/schemas/APIKeyScopeError' } } } }
        '404': { description: Agent not found, content: { application/json: { schema: { $ref: '#/components/schemas/SessionAPIError' } } } }
        '409': { description: Agent is already archived, content: { application/json: { schema: { $ref: '#/components/schemas/SessionAPIError' } } } }
        '500': { description: Agent could not be archived, content: { application/json: { schema: { $ref: '#/components/schemas/SessionAPIError' } } } }

  /v1/agents/{id}/versions:
    get:
      operationId: listAgentVersions
      tags: [Agents]
      summary: List agent versions
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 20 } }
        - { name: page, in: query, schema: { type: string } }
      responses:
        '200':
          description: Version history
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Agent'
                  next_page: { type: string, description: Opaque cursor included only when another page is available. }
        '400': { description: Invalid page cursor, content: { application/json: { schema: { $ref: '#/components/schemas/SessionAPIError' } } } }
        '401': { description: Missing or invalid API key, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '402': { description: API key spending limit exceeded, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '403': { description: API key scope does not authorize this endpoint, content: { application/json: { schema: { $ref: '#/components/schemas/APIKeyScopeError' } } } }
        '404': { description: Agent not found, content: { application/json: { schema: { $ref: '#/components/schemas/SessionAPIError' } } } }
        '500': { description: Agent versions or a stored snapshot could not be loaded, content: { application/json: { schema: { $ref: '#/components/schemas/SessionAPIError' } } } }

  /v1/agents/{id}/versions/{version}:
    get:
      operationId: getAgentVersion
      tags: [Agents]
      summary: Get agent version
      description: Return one immutable Agent snapshot by version resource ID or positive numeric version.
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - name: version
          in: path
          required: true
          schema:
            oneOf:
              - type: string
              - type: integer
                minimum: 1
      responses:
        '200':
          description: Agent version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '401': { description: Missing or invalid API key, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '402': { description: API key spending limit exceeded, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '403': { description: API key scope does not authorize this endpoint, content: { application/json: { schema: { $ref: '#/components/schemas/APIKeyScopeError' } } } }
        '404': { description: Agent or version not found, content: { application/json: { schema: { $ref: '#/components/schemas/SessionAPIError' } } } }
        '500': { description: Agent version or stored snapshot could not be loaded, content: { application/json: { schema: { $ref: '#/components/schemas/SessionAPIError' } } } }

  # --- Sessions ---------------------------------------------------
  /v1/sessions:
    post:
      operationId: createSession
      tags: [Sessions]
      summary: Create session
      description: Unknown top-level fields are rejected. resources and vault_ids are reserved and any non-null value is rejected.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSessionRequest'
      responses:
        '200':
          description: Session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        '400': { description: 'Invalid body, Agent reference, initial Event, or initial Event batch', content: { application/json: { schema: { $ref: '#/components/schemas/SessionAPIError' } } } }
        '401': { description: Missing or invalid API key, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '402': { description: API key spending limit exceeded, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '403':
          description: The Agent is archived or the API key scope does not authorize this endpoint
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/SessionAPIError'
                  - $ref: '#/components/schemas/APIKeyScopeError'
        '404': { description: 'Agent, Agent version, or Environment not found', content: { application/json: { schema: { $ref: '#/components/schemas/SessionAPIError' } } } }
        '422':
          description: The Agent and Environment runtime profiles do not match; a reserved resources or vault_ids value was supplied; or initial_events used unsupported multi-Agent or runtime-resume behavior. When rejection occurs after Session creation, Events are not persisted and Session cleanup follows the documented best-effort compensation path.
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error:
                    type: object
                    required: [type, message]
                    properties:
                      type:
                        type: string
                        enum: [unsupported_event_type, unsupported_multiagent, unsupported_feature, agent_runtime_environment_mismatch]
                      message: { type: string }
        '500': { description: Session could not be created, content: { application/json: { schema: { $ref: '#/components/schemas/SessionAPIError' } } } }
        '503': { description: Initial Event delivery is not configured, content: { application/json: { schema: { $ref: '#/components/schemas/SessionAPIError' } } } }
        '502':
          description: Native runtime delivery outcome is unknown. Recover the returned Session and inspect Events before retrying.
          content:
            application/json:
              schema:
                type: object
                required: [error, session_id]
                properties:
                  error:
                    type: object
                    required: [type, message]
                    properties:
                      type: { type: string, enum: [delivery_outcome_unknown] }
                      message: { type: string }
                  session_id:
                    type: string
                    pattern: '^sess_'
                  delivery_status:
                    type: string
                    enum: [unknown]
                  recovery:
                    type: object
                    required: [recoverable, retry_create, action]
                    properties:
                      recoverable: { type: boolean, enum: [true] }
                      retry_create: { type: boolean, enum: [false] }
                      action: { type: string, enum: [get_session_and_list_events] }
    get:
      operationId: listSessions
      tags: [Sessions]
      summary: List sessions
      parameters:
        - name: agent_id
          in: query
          schema:
            type: string
          description: Filter by agent ID
        - name: agent_version
          in: query
          schema: { type: integer, minimum: 1 }
[...]
