openapi: 3.1.0
info:
  title: SandBase API
  description: |
    SandBase is an agent-native platform for connecting Agents to the real world.
    Use one account and one key to call Models, ready-made APIs, and Agent Services.

    ## Authentication
    All API requests require an API key passed via `Authorization: Bearer sk-sb-YOUR_KEY` header.

    ## SDK Compatibility
    - **LLM Gateway** (`/v1/chat/completions`): Use OpenAI SDK with `base_url="https://api.sandbase.ai/v1"`
    - **Embeddings** (`/v1/embeddings`): Use OpenAI SDK with `base_url="https://api.sandbase.ai/v1"`
    - **Images** (`/v1/images/generations`, `/v1/images/edits`): Use OpenAI SDK with `base_url="https://api.sandbase.ai/v1"`
    - **Anthropic Messages** (`/v1/messages`): Use Anthropic SDK with `base_url="https://api.sandbase.ai"`
    - **Agents and Sessions** (`/v1/agents`, `/v1/sessions`): Use Anthropic SDK with `base_url="https://api.sandbase.ai"`
  version: 1.0.0
  x-sandbase-session-contract:
    status: active
    feature: persistent public Session identity
    description: >-
      Public session_id identifies persistent Agent interaction across Direct Session, Service (Endpoint), and Schedule
      (Deployment) entry points. Service invocation creates or continues a Session and sends one event. Every manual or
      scheduled Deployment trigger creates a public drun_* DeploymentRun and attempts to create one new Session.
      Internal Runtime Session identities are never exposed.
  contact:
    name: SandBase
    url: https://www.sandbase.ai
  license:
    name: Proprietary

servers:
  - url: https://api.sandbase.ai
    description: Production

security:
  - BearerAuth: []

tags:
  - name: Chat Completions
    description: OpenAI-compatible LLM Gateway
  - name: Responses
    description: OpenAI-compatible Responses API
  - name: Embeddings
    description: OpenAI-compatible text embeddings
  - name: Images
    description: OpenAI-compatible image generation and editing
  - name: Messages
    description: Anthropic-compatible Messages API
  - name: Agents
    description: Build and manage Agent definitions
  - name: Services
    description: Publish and invoke tested Agents through Endpoint resources
  - name: Runs
    description: Agent run management
  - name: Events
    description: Run event streaming
  - name: Environments
    description: Execution environment configuration
  - name: Models
    description: Model catalog
  - name: Tasks
    description: Asynchronous model task status, settlement, and usage
  - name: Account
    description: Organization balance and API execution history
  - name: Embed Configs
    description: Embeddable web chat widget configuration and usage
  - name: Skills
    description: Reusable Agent instruction and resource bundles
  - name: Credentials
    description: Private values injected into Agent runtimes

paths:
  # --- LLM Gateway ------------------------------------------------
  /v1/chat/completions:
    post:
      operationId: createChatCompletion
      tags: [Chat Completions]
      summary: Create chat completion
      description: >-
        OpenAI-compatible chat completions endpoint. SandBase uses model and stream for routing and preserves
        additional provider-compatible fields when the selected route uses the same protocol. Support for
        provider-specific fields can vary when SandBase translates between protocols.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
      responses:
        '200':
          description: Chat completion response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
            text/event-stream:
              schema:
                type: string
                description: "SSE stream of chat.completion.chunk events, followed by data: [DONE]."
        '400': { description: "Invalid JSON, missing model, or an invalid provider request", content: { application/json: { schema: { $ref: '#/components/schemas/ChatCompletionError' } } } }
        '401': { description: Missing or invalid API key, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '402':
          description: Organization spending limit reached
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ChatCompletionError'
                  - $ref: '#/components/schemas/TaskCostError'
        '404': { description: Model not found or unavailable, content: { application/json: { schema: { $ref: '#/components/schemas/ChatCompletionError' } } } }
        '429': { description: Rate limit exceeded, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '500': { description: Request persistence or organization lookup failed, content: { application/json: { schema: { $ref: '#/components/schemas/ChatCompletionError' } } } }
        '502': { description: Invalid response from the selected provider, content: { application/json: { schema: { $ref: '#/components/schemas/ChatCompletionError' } } } }
        '503': { description: No provider route succeeded, content: { application/json: { schema: { $ref: '#/components/schemas/ChatCompletionError' } } } }

  /v1/responses:
    post:
      operationId: createResponse
      tags: [Responses]
      summary: Create a model response
      description: >-
        OpenAI-compatible Responses API endpoint. SandBase validates model and stream for routing, rewrites model
        to the selected provider mapping, and preserves other request fields. Responses are rebuilt from public
        OpenAI fields: unknown provider, routing, account, and billing extensions are removed. Unsafe responses fail
        closed instead of being forwarded.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResponsesRequest'
      responses:
        '200':
          description: OpenAI-compatible response object or event stream from the selected provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesResponse'
            text/event-stream:
              schema:
                type: string
                description: >-
                  Sanitized OpenAI Responses events. Public response.* and error events are forwarded; unknown
                  private events and non-public event fields are removed. A malformed stream closes without
                  forwarding unsafe data.
        '400': { description: "Invalid JSON, missing model, no provider, or upstream request rejected", content: { application/json: { schema: { $ref: '#/components/schemas/ChatCompletionError' } } } }
        '401':
          description: Missing or invalid API key, or upstream authentication rejection
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/TaskCostError'
                  - $ref: '#/components/schemas/ChatCompletionError'
        '402':
          description: Organization or API Key spending limit reached
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/TaskCostError'
                  - $ref: '#/components/schemas/ChatCompletionError'
        '403':
          description: API key scope or upstream permission rejection
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/APIKeyScopeError'
                  - $ref: '#/components/schemas/ChatCompletionError'
        '413': { description: Upstream provider rejected the request as too large, content: { application/json: { schema: { $ref: '#/components/schemas/ChatCompletionError' } } } }
        '500': { description: Prediction lifecycle or organization lookup failed, content: { application/json: { schema: { oneOf: [{ $ref: '#/components/schemas/ChatCompletionError' }, { $ref: '#/components/schemas/TaskCostError' }] } } } }
        '502': { description: Upstream response could not be safely parsed and sanitized, content: { application/json: { schema: { $ref: '#/components/schemas/ChatCompletionError' } } } }
        '503': { description: Routing failed or every provider candidate was exhausted, content: { application/json: { schema: { $ref: '#/components/schemas/ChatCompletionError' } } } }

  /v1/embeddings:
    post:
      operationId: createEmbedding
      tags: [Embeddings]
      summary: Create embeddings
      description: OpenAI-compatible embeddings endpoint for semantic search, RAG, clustering, and classification. SandBase validates the logical model and forwards provider-compatible embedding fields; model-specific constraints are defined by the selected model and upstream provider.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddingRequest'
      responses:
        '200':
          description: Embedding response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingResponse'
        '400': { description: Invalid request or non-embedding model, content: { application/json: { schema: { $ref: '#/components/schemas/EmbeddingError' } } } }
        '401': { description: Missing or invalid API key, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '402':
          description: Organization or API Key spending limit reached
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/EmbeddingError'
                  - $ref: '#/components/schemas/TaskCostError'
        '404': { description: Logical model not found, content: { application/json: { schema: { $ref: '#/components/schemas/EmbeddingError' } } } }
        '500': { description: Request persistence or organization lookup failed, content: { application/json: { schema: { $ref: '#/components/schemas/EmbeddingError' } } } }
        '503': { description: No provider route succeeded, content: { application/json: { schema: { $ref: '#/components/schemas/EmbeddingError' } } } }

  /v1/images/generations:
    post:
      operationId: createImage
      tags: [Images]
      summary: Generate an image
      description: >-
        Generate images through the synchronous OpenAI Images-compatible endpoint. The public model name is
        gpt-image-2. Additional compatible JSON fields are forwarded unchanged. Streaming and asynchronous mode
        are not supported on this endpoint.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageGenerationRequest'
      responses:
        '200':
          description: Generated images and authoritative token usage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesResponse'
        '400': { description: "Invalid body, unsupported model, streaming request, or provider request", content: { application/json: { schema: { $ref: '#/components/schemas/OpenAIImagesError' } } } }
        '401': { description: Missing or invalid API key, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '402':
          description: Organization or API Key spending limit reached
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/OpenAIImagesError'
                  - $ref: '#/components/schemas/TaskCostError'
        '403': { description: API key scope does not authorize this endpoint, content: { application/json: { schema: { $ref: '#/components/schemas/APIKeyScopeError' } } } }
        '404': { description: Routed image model is unavailable, content: { application/json: { schema: { $ref: '#/components/schemas/OpenAIImagesError' } } } }
        '429': { description: Rate limit exceeded, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '500': { description: Request persistence or response processing failed, content: { application/json: { schema: { oneOf: [{ $ref: '#/components/schemas/OpenAIImagesError' }, { $ref: '#/components/schemas/TaskCostError' }] } } } }
        '502': { description: Provider returned an invalid native response, content: { application/json: { schema: { $ref: '#/components/schemas/OpenAIImagesError' } } } }
        '503': { description: No provider route succeeded, content: { application/json: { schema: { $ref: '#/components/schemas/OpenAIImagesError' } } } }

  /v1/images/edits:
    post:
      operationId: createImageEdit
      tags: [Images]
      summary: Edit an image
      description: >-
        Edit one or more uploaded images through the synchronous OpenAI Images-compatible multipart endpoint.
        Repeating the image field is supported. Additional compatible multipart fields are forwarded unchanged.
        Streaming and asynchronous mode are not supported on this endpoint.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ImageEditRequest'
      responses:
        '200':
          description: Edited images and authoritative token usage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesResponse'
        '400': { description: "Invalid multipart body, unsupported model, streaming request, or provider request", content: { application/json: { schema: { $ref: '#/components/schemas/OpenAIImagesError' } } } }
        '401': { description: Missing or invalid API key, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '402':
          description: Organization or API Key spending limit reached
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/OpenAIImagesError'
                  - $ref: '#/components/schemas/TaskCostError'
        '403': { description: API key scope does not authorize this endpoint, content: { application/json: { schema: { $ref: '#/components/schemas/APIKeyScopeError' } } } }
        '404': { description: Routed image-edit model is unavailable, content: { application/json: { schema: { $ref: '#/components/schemas/OpenAIImagesError' } } } }
        '429': { description: Rate limit exceeded, content: { application/json: { schema: { $ref: '#/components/schemas/TaskCostError' } } } }
        '500': { description: Request persistence or response processing failed, content: { application/json: { schema: { oneOf: [{ $ref: '#/components/schemas/OpenAIImagesError' }, { $ref: '#/components/schemas/TaskCostError' }] } } } }
        '502': { description: Provider returned an invalid native response, content: { application/json: { schema: { $ref: '#/components/schemas/OpenAIImagesError' } } } }
        '503': { description: No provider route succeeded, content: { application/json: { schema: { $ref: '#/components/schemas/OpenAIImagesError' } } } }

  /v1/messages:
    post:
      operationId: createMessage
      tags: [Messages]
      summary: Create message (Anthropic compatible)
      description: >-
        Anthropic Messages-compatible endpoint. SandBase uses model and stream for routing, maps the public model
        name to the selected provider, and otherwise preserves the compatible request and response protocol.
        Provider compatibility rules may remove or reject unsupported beta fields before an upstream attempt.
      security:
        - BearerAuth: []
        - AnthropicApiKey: []
      parameters:
        - name: anthropic-version
          in: header
          required: false
          description: Anthropic API version. Defaults to 2023-06-01 when omitted.
          schema:
            type: string
            default: "2023-06-01"
            example: "2023-06-01"
        - name: anthropic-beta
          in: header
          required: false
          description: Comma-separated Anthropic beta feature identifiers. Availability is provider-specific.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [model, max_tokens, messages]
              additionalProperties: true
              description: Anthropic-compatible request. Additional fields are preserved unless a selected provider's compatibility rules remove or reject them.
              properties:
                model:
                  type: string
                  example: "claude-sonnet-4"
                max_tokens:
                  type: integer
                  example: 4096
                messages:
                  type: array
                  items:
                    type: object
                    required: [role, content]
                    additionalProperties: true
                    properties:
                      role:
                        type: string
                        enum: [user, assistant]
                      content:
                        oneOf:
                          - type: string
                          - type: array
                            items:
                              type: object
                              additionalProperties: true
                system:
                  oneOf:
                    - type: string
                    - type: array
                      items:
                        type: object
                        additionalProperties: true
                temperature:
                  type: number
                  minimum: 0
                  maximum: 1
                top_p:
                  type: number
                  minimum: 0
                  maximum: 1
                top_k:
                  type: integer
                  minimum: 0
                stop_sequences:
                  type: array
                  items: { type: string }
                stream:
                  type: boolean
                  default: false
                metadata:
                  type: object
                  additionalProperties: true
                tools:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                tool_choice:
                  type: object
                  additionalProperties: true
                thinking:
                  type: object
                  description: Extended thinking configuration when supported by the selected model.
                  additionalProperties: true
      responses:
        '200':
          description: Anthropic message response or event stream from the selected provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnthropicMessageResponse'
            text/event-stream:
              schema:
                type: string
                description: Anthropic SSE events, including provider-defined beta events and possible in-stream error events.
        '400': { description: "Invalid JSON, missing model, unsupported feature, or invalid provider request", content: { application/json: { schema: { $ref: '#/components/schemas/AnthropicError' } } } }
        '401': { description: "Missing, invalid, revoked, or expired API key", content: { application/json: { schema: { $ref: '#/components/schemas/AnthropicError' } } } }
        '402': { description: Organization spending limit reached, content: { application/json: { schema: { $ref: '#/components/schemas/AnthropicError' } } } }
        '403': { description: API Key spending limit or organization permission failure, content: { application/json: { schema: { $ref: '#/components/schemas/AnthropicError' } } } }
        '404': { description: Model or upstream resource not found, content: { application/json: { schema: { $ref: '#/components/schemas/AnthropicError' } } } }
        '413': { description: Provider rejected the request as too large, content: { application/json: { schema: { $ref: '#/components/schemas/AnthropicError' } } } }
        '429': { description: Provider rate limit exceeded, content: { application/json: { schema: { $ref: '#/components/schemas/AnthropicError' } } } }
        '500': { description: Prediction lifecycle or provider error, content: { application/json: { schema: { $ref: '#/components/schemas/AnthropicError' } } } }
        '502': { description: Upstream stream ended before usable content, content: { application/json: { schema: { $ref: '#/components/schemas/AnthropicError' } } } }
        '503': { description: Routing failed or all provider candidates were unavailable, content: { application/json: { schema: { $ref: '#/components/schemas/AnthropicError' } } } }

  # --- Embed Configs ---------------------------------------------
  /v1/embeds:
    post:
      operationId: createEmbedConfig
      tags: [Embed Configs]
      summary: Create an Embed Config
      description: Creates an organization-scoped web chat configuration bound to an eligible Agent and Environment. An Agent can have at most 10 Embed Configs.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEmbedConfigRequest'
      responses:
        '201':
          description: Embed Config created; includes its publishable browser key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateEmbedConfigResponse'
        '400': { description: Invalid request, content: { application/json: { schema: { $ref: '#/components/schemas/APIError' } } } }
        '403': { description: Agent Embed Config limit reached, content: { application/json: { schema: { $ref: '#/components/schemas/APIError' } } } }
        '404': { description: Agent or Environment binding not found, content: { application/json: { schema: { $ref: '#/components/schemas/APIError' } } } }
        '422': { description: Agent and Environment binding is not eligible, content: { application/json: { schema: { $ref: '#/components/schemas/APIError' } } } }
    get:
      operationId: listEmbedConfigs
      tags: [Embed Configs]
      summary: List Embed Configs
      parameters:
        - name: agent_id
          in: query
          schema: { type: string, pattern: '^agent_' }
          description: Exact Agent ID filter.
      responses:
        '200':
          description: Embed Config list, newest first
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbedConfigList'
        '500': { description: List failed, content: { application/json: { schema: { $ref: '#/components/schemas/APIError' } } } }

  /v1/embeds/{id}:
    get:
      operationId: getEmbedConfig
      tags: [Embed Configs]
      summary: Get an Embed Config
      parameters:
        - $ref: '#/components/parameters/EmbedConfigId'
      responses:
        '200': { description: Embed Config, content: { application/json: { schema: { $ref: '#/components/schemas/EmbedConfig' } } } }
        '404': { description: Embed Config not found, content: { application/json: { schema: { $ref: '#/components/schemas/APIError' } } } }
    patch:
      operationId: updateEmbedConfig
      tags: [Embed Configs]
      summary: Update an Embed Config
      description: Partially updates presentation, origin, or enabled settings. To clear allowed_origins, send an empty array; null is treated as omitted. The Agent and Environment binding cannot be changed.
      parameters:
        - $ref: '#/components/parameters/EmbedConfigId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEmbedConfigRequest'
      responses:
        '200': { description: Updated Embed Config, content: { application/json: { schema: { $ref: '#/components/schemas/EmbedConfig' } } } }
        '400': { description: Invalid request, content: { application/json: { schema: { $ref: '#/components/schemas/APIError' } } } }
        '404': { description: Embed Config or binding not found, content: { application/json: { schema: { $ref: '#/components/schemas/APIError' } } } }
        '422': { description: Agent and Environment binding is not eligible, content: { application/json: { schema: { $ref: '#/components/schemas/APIError' } } } }
    delete:
      operationId: deleteEmbedConfig
      tags: [Embed Configs]
      summary: Delete an Embed Config
      description: Permanently deletes the configuration and invalidates its derived publishable key.
      parameters:
        - $ref: '#/components/parameters/EmbedConfigId'
      responses:
        '200': { description: Embed Config deleted, content: { application/json: { schema: { $ref: '#/components/schemas/DeleteEmbedConfigResponse' } } } }
        '404': { description: Embed Config not found, content: { application/json: { schema: { $ref: '#/components/schemas/APIError' } } } }

  /v1/embeds/{id}/usage:
    get:
      operationId: getEmbedConfigUsage
      tags: [Embed Configs]
      summary: Get Embed Config usage
      description: Returns all-time aggregate Session, message, and unique visitor record counts for the configuration.
      parameters:
        - $ref: '#/components/parameters/EmbedConfigId'
      responses:
        '200': { description: Aggregate usage, content: { application/json: { schema: { $ref: '#/components/schemas/EmbedConfigUsage' } } } }
        '404': { description: Embed Config not found, content: { application/json: { schema: { $ref: '#/components/schemas/APIError' } } } }

  # --- Account ----------------------------------------------------
  /v1/account/balance:
    get:
      operationId: getAccountBalance
      tags: [Account]
      summary: Get account balance
      description: Returns the balance and optional credit settings for the organization that owns the API key.
      responses:
        '200':
          description: Organization balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountBalance'
        '401':
          description: The API key did not resolve an organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'

  /v1/account/history:
    get:
      operationId: listAccountHistory
      tags: [Account]
      summary: List execution history
      description: Lists recent execution records for the API key's organization, newest first. Input and output snapshots are included only when stored JSON can be decoded. Error messages are sanitized before they are returned.
      parameters:
        - { name: model, in: query, schema: { type: string }, description: Exact logical model name. }
        - { name: api_key_id, in: query, schema: { type: string }, description: Exact API Key resource ID within the organization. }
        - { name: type, in: query, schema: { type: string, enum: [multimodal, llm, api] }, description: "Execution category. multimodal includes image, video, and audio." }
        - { name: status, in: query, schema: { type: string, enum: [completed, failure, in_progress] }, description: Status group. failure includes failed and timeout; in_progress includes pending and running. }
        - { name: error_type, in: query, schema: { type: string, maxLength: 50 }, description: Exact error type. Use unknown for records without an error type. }
        - { name: range, in: query, schema: { type: string, enum: [1h, 24h, 7d, 30d], default: 7d }, description: Rolling created-at range when an explicit analytics window is not used. Unsupported values fall back to 7d. }
        - { name: page, in: query, schema: { type: integer, minimum: 1, default: 1 } }
        - { name: page_size, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 20 } }
        - { name: request_id, in: query, schema: { type: string, maxLength: 64 }, description: "Exact organization-scoped execution ID lookup. When set, other filters are ignored and the response is forced to page 1 with page_size 1." }
        - { name: time_basis, in: query, schema: { type: string, enum: [created_at, settled_at], default: created_at }, description: Timestamp basis for an explicit start_at/end_at window. }
        - { name: billing_scope, in: query, schema: { type: string, enum: [any, positive, token], default: any }, description: Settlement filter. positive and token are valid only with time_basis=settled_at. }
        - { name: start_at, in: query, schema: { type: string, format: date-time }, description: Inclusive RFC 3339 window start. Must be paired with end_at; the window cannot exceed 32 days. }
        - { name: end_at, in: query, schema: { type: string, format: date-time }, description: Exclusive RFC 3339 window end. Must be paired with start_at. }
        - { name: latency_sample, in: query, schema: { type: string, enum: [positive, terminal_positive] }, description: "Restrict latency samples to positive values, optionally only for terminal executions." }
        - { name: min_latency_ms, in: query, schema: { type: integer, minimum: 0 }, description: Minimum recorded latency in milliseconds. }
      responses:
        '200':
          description: Paginated execution history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountHistoryPage'
        '400':
          description: Invalid filter or analytics window
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '401':
          description: The API key did not resolve an organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: History lookup failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'

  # --- Tasks ------------------------------------------------------
  /v1/tasks/{task_id}/cost:
    get:
      operationId: getTaskCost
      tags: [Tasks]
      summary: Get task cost and usage
      description: |
        Returns the settlement status, final user cost, estimated cost, and token usage for a recent task.
        When `settled` is false, `cost` is not final and must not be used for billing or reconciliation.
        Use `estimated_cost` only as a display estimate until final settlement completes.
        Older task execution records may be archived after the retention window and then return 404.
        Use billing records or billing exports for long-term reconciliation.
      parameters:
        - name: task_id
          in: path
          required: true
          description: Opaque task ID returned by a billable operation, including an x-task-id response header when present.
          schema:
            type: string
      responses:
        '200':
          description: Task cost and usage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCostResponse'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCostError'
        '404':
          description: Task does not exist or is not accessible with the current API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCostError'

  # --- Unified model and API execution ---------------------------
  /v1/run:
    post:
      operationId: runCapability
      tags: [Models]
      summary: Run a model or API capability
      description: |
        Executes the selected catalog capability. Capability-specific fields must match the live schema returned by
        the model detail endpoint or Store. Asynchronous capabilities can be polled with GET /v1/run/{id}.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunRequest'
      responses:
        '200':
          description: Capability completed synchronously, or a streaming response started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunResponse'
            text/event-stream:
              schema:
                type: string
                description: Server-Sent Events when stream is true or mode is stream and the selected model supports streaming.
        '202':
          description: Capability accepted for asynchronous execution
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunResponse'
        '400':
          description: Invalid JSON, unsupported execution mode, invalid capability input, or invalid webhook URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCostError'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCostError'
        '402':
          description: Insufficient balance or spending limit reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCostError'
        '403':
          description: The current API key cannot use the selected capability
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCostError'
        '404':
          description: Model or capability not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCostError'
        '500':
          description: Internal execution error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCostError'
        '502':
          description: Upstream provider returned an invalid response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCostError'
        '503':
          description: No provider is currently available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCostError'

  /v1/run/{id}:
    get:
      operationId: getRun
      tags: [Models]
      summary: Get an asynchronous run
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
          description: Opaque ID returned by POST /v1/run. Do not assume a prefix or derive it independently.
      responses:
        '200':
          description: Current or terminal run state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunResponse'
        '404':
          description: Run not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCostError'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCostError'

  /v1/upload:
    post:
      operationId: uploadMedia
      tags: [Models]
      summary: Upload media for model input
      description: |
        Uploads one image, audio, or video file and returns its stored URL. The server detects the actual MIME type
        from the file bytes and filename; the optional type form field is only a hint and does not override detection.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadMediaRequest'
      responses:
        '200':
          description: Media uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadMediaResponse'
        '400':
          description: Missing file, invalid multipart data, unsupported MIME type, or file too large
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskCostError' }
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskCostError' }
        '500':
          description: File could not be read or stored
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskCostError' }
        '503':
          description: File storage is not configured
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskCostError' }

  # --- Assets -----------------------------------------------------
  /v1/assets:
    post:
      operationId: createAsset
      tags: [Models]
      summary: Register a media asset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAssetRequest'
      responses:
        '200':
          description: Asset registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAssetResponse'
        '400':
          description: Invalid JSON, missing URL, or unsupported asset type
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskCostError' }
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskCostError' }
        '500':
          description: Asset provider credentials are unavailable or the asset record could not be saved
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskCostError' }
        '502':
          description: Upstream asset registration failed
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskCostError' }

  /v1/assets/{id}:
    get:
      operationId: getAsset
      tags: [Models]
      summary: Get asset metadata and a signed download URL
      parameters:
        - name: id
          in: path
          required: true
          description: External Asset ID without the asset:// prefix.
          schema: { type: string }
      responses:
        '200':
          description: Asset metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAssetResponse'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskCostError' }
        '404':
          description: Asset not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskCostError' }
        '500':
          description: Internal asset lookup error or provider credentials are unavailable
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskCostError' }
        '502':
          description: Upstream asset query failed
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskCostError' }

  # --- Services (Endpoint resources) -----------------------------
  /v1/endpoints:
    post:
      operationId: createEndpoint
      tags: [Services]
      summary: Create a Service
      description: |
        Creates a Service (Endpoint resource) from either a declarative runtime definition or an existing Agent and Environment.
        The two creation modes are mutually exclusive. Declarative YAML uses the same schema as JSON.
        The bound Agent and Environment must use the same runtime provider, and that provider must be enabled for the organization.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/CreateDeclarativeEndpointRequest'
                - $ref: '#/components/schemas/CreateAdvancedEndpointRequest'
          application/yaml:
            schema:
              $ref: '#/components/schemas/CreateDeclarativeEndpointRequest'
          application/x-yaml:
            schema:
              $ref: '#/components/schemas/CreateDeclarativeEndpointRequest'
      responses:
        '201':
          description: Endpoint created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
        '400':
          description: Invalid definition or creation mode
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '422':
          description: Runtime or Skill is incompatible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
    get:
      operationId: listEndpoints
      tags: [Services]
      summary: List Services
      parameters:
        - name: q
          in: query
          schema: { type: string }
          description: Search by ID, name, slug, runtime, Agent ID, or Environment ID. `search` is accepted as a compatibility alias.
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
        - name: page
          in: query
          schema: { type: string }
          description: Opaque cursor from a previous response's next_page field.
      responses:
        '200':
          description: Service list
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Endpoint'
                  next_page:
                    type: string
                    description: Opaque cursor included only when another page is available.

  /v1/endpoints/{id}:
    get:
      operationId: getEndpoint
      tags: [Services]
      summary: Get a Service
      parameters:
        - $ref: '#/components/parameters/EndpointId'
      responses:
        '200':
          description: Service details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
        '404':
          description: Service not found
    patch:
      operationId: updateEndpoint
      tags: [Services]
      summary: Update a Service
      description: Declarative definition fields are immutable in this release; operational fields such as name, status, and protocols may be updated.
      parameters:
        - $ref: '#/components/parameters/EndpointId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEndpointRequest'
      responses:
        '200':
          description: Service updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
        '409':
          description: Declarative Service definition is immutable
    post:
      operationId: updateEndpointCompatibility
      tags: [Services]
      summary: Update a Service (compatibility alias)
      description: Compatibility alias for PATCH. New integrations should use PATCH.
      parameters:
        - $ref: '#/components/parameters/EndpointId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEndpointRequest'
      responses:
        '200':
          description: Service updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
        '409':
          description: Declarative Service definition is immutable
    delete:
      operationId: deleteEndpoint
      tags: [Services]
      summary: Delete a Service
      parameters:
        - $ref: '#/components/parameters/EndpointId'
      responses:
        '200':
          description: Service deleted
          content:
            application/json:
              schema:
                type: object
                required: [id, deleted]
                properties:
                  id: { type: string }
                  deleted: { type: boolean, const: true }
        '404': { description: Service not found }

  /v1/endpoints/{id}/run:
    post:
      operationId: runEndpoint
      tags: [Services]
      summary: Invoke a Service over REST
      description: |
        Creates or continues a persistent Session and sends one standard event. Omit `session_id` to create a
        Session fixed to the Endpoint's Agent version and Runtime Environment snapshot. Provide `session_id` to
        continue that Session. Returns the persistent Session ID and accepted events; no public execution Run or
        internal Runtime Session identity is exposed.
      parameters:
        - $ref: '#/components/parameters/EndpointId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointInvokeRequest'
      responses:
        '202':
          description: Session event accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointInvokeAccepted'
        '502':
          description: Agent runtime or Skill materialization failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '422':
          description: Runtime provider is unsupported; no turn was delivered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '503':
          description: Stateful persistence or recovery is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'

  /v1/endpoints/{id}/acp:
    post:
      operationId: callEndpointAcp
      tags: [Services]
      summary: Invoke a Service over experimental ACP
      description: |
        Experimental ACP-over-HTTP JSON-RPC transport supporting initialize, session/new, session/prompt, and
        session/cancel. Prompt output is newline-delimited JSON. Runtime failures use redacted public error messages;
        the remote transport may change while ACP remains experimental.
      parameters:
        - $ref: '#/components/parameters/EndpointId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ACPRequest'
      responses:
        '200':
          description: ACP JSON-RPC response or newline-delimited prompt stream
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACPResponse'
            application/x-ndjson:
              schema:
                type: string
                description: ACP session/update notifications followed by the final JSON-RPC result.
        '400':
          description: Invalid JSON-RPC request
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ACPResponse' }
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskCostError' }
        '404':
          description: Service or ACP session not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ACPResponse' }
        '500':
          description: ACP Session could not be created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ACPResponse' }

  # --- Agents -----------------------------------------------------
  /v1/agents:
    post:
      operationId: createAgent
      tags: [Agents]
      summary: Create agent
      description: Create a reusable, versioned agent configuration.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentRequest'
      responses:
        '200':
          description: Agent created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '400': { description: Missing or invalid name or model }
        '422': { description: Model identity is invalid or unavailable }
    get:
      operationId: listAgents
      tags: [Agents]
      summary: List agents
      parameters:
        - { name: 'created_at[gte]', in: query, schema: { type: string, format: date-time } }
        - { name: 'created_at[lte]', in: query, schema: { type: string, format: date-time } }
        - { name: include_archived, in: query, schema: { type: boolean, default: false } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 20 } }
        - { name: page, in: query, schema: { type: string } }
      responses:
        '200':
          description: Agent list
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AgentListPage' }

  /v1/agents/{id}:
    get:
      operationId: getAgent
      tags: [Agents]
      summary: Get agent
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - name: version
          in: query
          schema: { type: integer, minimum: 1 }
          description: Return the immutable Agent snapshot for this numeric version. Omit for the current version.
      responses:
        '200':
          description: Agent details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '400': { description: Invalid numeric version selector }
        '404': { description: Agent or requested version not found }
    post:
      operationId: updateAgent
      tags: [Agents]
      summary: Update agent
      description: Update agent configuration. Creates a new version when changes are made.
      parameters:
        - $ref: '#/components/parameters/AgentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgentRequest'
      responses:
        '200':
          description: Agent updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '400': { description: Invalid request or unsupported configuration }
        '403': { description: Agent is archived }
        '404': { description: Agent not found }
        '409': { description: Supplied version does not match the current Agent version }
        '422': { description: Model identity is invalid or unavailable }

  /v1/agents/{id}/archive:
    post:
      operationId: archiveAgent
      tags: [Agents]
      summary: Archive agent
      description: Archive an agent, making it read-only.
      parameters:
        - $ref: '#/components/parameters/AgentId'
      responses:
        '200':
          description: Agent archived
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '404': { description: Agent not found }
        '409': { description: Agent is already archived }

  /v1/agents/{id}/versions:
    get:
      operationId: listAgentVersions
      tags: [Agents]
      summary: List agent versions
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 20 } }
        - { name: page, in: query, schema: { type: string } }
      responses:
        '200':
          description: Version history
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Agent'
                  next_page: { type: string, description: Opaque cursor included only when another page is available. }
        '404': { description: Agent not found }

  /v1/agents/{id}/versions/{version}:
    get:
      operationId: getAgentVersion
      tags: [Agents]
      summary: Get agent version
      description: Return one immutable Agent snapshot by version resource ID or positive numeric version.
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - name: version
          in: path
          required: true
          schema:
            oneOf:
              - type: string
              - type: integer
                minimum: 1
      responses:
        '200':
          description: Agent version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '404': { description: Agent or version not found }

  # --- Sessions ---------------------------------------------------
  /v1/sessions:
    post:
      operationId: createSession
      tags: [Sessions]
      summary: Create session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSessionRequest'
      responses:
        '200':
          description: Session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        '422':
          description: The initial_events batch was rejected without persisting Events; Session cleanup follows the documented best-effort compensation path. Tool confirmation, custom tool result, tool result, and define outcome currently return `unsupported_event_type`; any `session_thread_id` returns `unsupported_multiagent`.
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error:
                    type: object
                    required: [type, message]
                    properties:
                      type:
                        type: string
                        enum: [unsupported_event_type, unsupported_multiagent]
                      message: { type: string }
        '502':
          description: Native runtime delivery outcome is unknown. Recover the returned Session and inspect Events before retrying.
          content:
            application/json:
              schema:
                type: object
                required: [error, session_id]
                properties:
                  error:
                    type: object
                    required: [type, message]
                    properties:
                      type: { type: string, enum: [delivery_outcome_unknown] }
                      message: { type: string }
                  session_id:
                    type: string
                    pattern: '^sess_'
                  delivery_status:
                    type: string
                    enum: [unknown]
                  recovery:
                    type: object
                    required: [recoverable, retry_create, action]
                    properties:
                      recoverable: { type: boolean, enum: [true] }
                      retry_create: { type: boolean, enum: [false] }
                      action: { type: string, enum: [get_session_and_list_events] }
    get:
      operationId: listSessions
      tags: [Sessions]
      summary: List sessions
      parameters:
        - name: agent_id
          in: query
          schema:
            type: string
          description: Filter by agent ID
        - name: agent_version
          in: query
          schema: { type: integer, minimum: 1 }
        - name: statuses
          in: query
          style: form
          explode: true
          schema:
            type: array
            items: { type: string, enum: [idle, running, rescheduling, terminated] }
          description: Repeat the parameter to filter by one or more Session statuses.
        - name: include_archived
          in: query
          schema: { type: boolean, default: false }
        - name: 'created_at[gt]'
          in: query
          schema: { type: string, format: date-time }
        - name: 'created_at[gte]'
          in: query
          schema: { type: string, format: date-time }
        - name: 'created_at[lt]'
          in: query
          schema: { type: string, format: date-time }
        - name: 'created_at[lte]'
          in: query
          schema: { type: string, format: date-time }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 20 } }
        - { name: page, in: query, schema: { type: string } }
      responses:
        '200':
          description: Session list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Session'
                  next_page: { type: string, description: Opaque cursor included only when another page is available. }

  /v1/sessions/{id}:
    get:
      operationId: getSession
      tags: [Sessions]
      summary: Get session
      parameters:
        - $ref: '#/components/parameters/SessionId'
      responses:
        '200':
          description: Session details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
    post:
      operationId: updateSession
      tags: [Sessions]
      summary: Update session metadata or Agent overrides
      description: Update title, metadata, or Session-local tool and MCP server overrides. The pinned Agent version remains immutable.
      parameters:
        - $ref: '#/components/parameters/SessionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string }
                metadata: { type: object }
                agent:
                  $ref: '#/components/schemas/SessionAgentUpdate'
                vault_ids:
                  type: array
                  items: { type: string, pattern: '^vlt_' }
                  description: Reserved for Claude compatibility; rejected until vault attachment is supported.
      responses:
        '200':
          description: Session updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
    delete:
      operationId: deleteSession
      tags: [Sessions]
      summary: Permanently delete a non-running session
      description: Allowed only when the Session is neither running nor rescheduling. Deletion is permanent; use archive to retain history.
      parameters:
        - $ref: '#/components/parameters/SessionId'
      responses:
        '200':
          description: Session deleted
          content:
            application/json:
              schema:
                type: object
                required: [id, type]
                properties:
                  id: { type: string, pattern: '^sess_' }
                  type: { type: string, const: session_deleted }
        '404': { description: Session not found }
        '409': { description: Running or rescheduling Session cannot be deleted }
  /v1/sessions/{id}/archive:
    post:
      operationId: archiveSession
      tags: [Sessions]
      summary: Archive session
      parameters:
        - $ref: '#/components/parameters/SessionId'
      responses:
        '200':
          description: Session archived
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'

  /v1/sessions/{id}/events:
    post:
      operationId: sendEvents
      tags: [Events]
      summary: Send events to session
      parameters:
        - $ref: '#/components/parameters/SessionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendEventsRequest'
      responses:
        '200':
          description: Implemented event types accepted. Schema-recognized event types without runtime behavior are never returned as accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedSessionEvents'
        '422':
          description: The batch was rejected without persisting any event. Tool confirmation, custom tool result, tool result, and define outcome currently return `unsupported_event_type`; any `session_thread_id` returns `unsupported_multiagent`.
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error:
                    type: object
                    required: [type, message]
                    properties:
                      type:
                        type: string
                        enum: [unsupported_event_type, unsupported_multiagent]
                      message: { type: string }
    get:
      operationId: listEvents
      tags: [Events]
      summary: List session events
      parameters:
        - $ref: '#/components/parameters/SessionId'
        - name: types
          in: query
          schema: { type: array, items: { type: string } }
          style: form
          explode: true
          description: Repeat the parameter or provide a comma-separated list of event types.
        - name: order
          in: query
          schema: { type: string, enum: [asc, desc], default: asc }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 100 }
        - name: page
          in: query
          schema: { type: string }
        - name: 'created_at[gt]'
          in: query
          schema: { type: string, format: date-time }
        - name: 'created_at[gte]'
          in: query
          schema: { type: string, format: date-time }
        - name: 'created_at[lt]'
          in: query
          schema: { type: string, format: date-time }
        - name: 'created_at[lte]'
          in: query
          schema: { type: string, format: date-time }
      responses:
        '200':
          description: Event list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SessionEvent'
                  next_page:
                    type: string
                    description: Opaque cursor present when another page is available.

  /v1/sessions/{id}/events/stream:
    get:
      operationId: streamEvents
      tags: [Events]
      summary: Stream session events (SSE)
      parameters:
        - $ref: '#/components/parameters/SessionId'
        - name: cursor
          in: query
          schema: { type: string }
          description: Resume after the last delivered event ID. Last-Event-ID is also accepted.
        - name: event_delta
          in: query
          style: form
          explode: true
          schema:
            type: array
            items: { type: string, enum: [agent.message, agent.thinking] }
          description: Compatibility parameter. Accepted values are validated, but the current stream emits persisted canonical Events only and does not synthesize preview deltas.
      responses:
        '200':
          description: SSE event stream
          content:
            text/event-stream:
              schema:
                type: string

  # --- Environments -----------------------------------------------
  /v1/environments:
    post:
      operationId: createEnvironment
      tags: [Environments]
      summary: Create environment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEnvironmentRequest'
      responses:
        '200':
          description: Environment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
    get:
      operationId: listEnvironments
      tags: [Environments]
      summary: List environments
      parameters:
        - { name: include_archived, in: query, schema: { type: boolean, default: false } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 20 } }
        - { name: page, in: query, schema: { type: string } }
      responses:
        '200':
          description: Environment list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Environment'
                  next_page: { type: string, description: Opaque cursor included only when another page is available. }

  /v1/environments/{id}:
    get:
      operationId: getEnvironment
      tags: [Environments]
      summary: Get environment
      parameters:
        - $ref: '#/components/parameters/EnvironmentId'
      responses:
        '200':
          description: Environment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
    patch:
      operationId: updateEnvironment
      tags: [Environments]
      summary: Update environment metadata, runtime configuration, or credential bindings
      parameters:
        - $ref: '#/components/parameters/EnvironmentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEnvironmentRequest'
      responses:
        '200':
          description: Environment updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
    post:
      operationId: updateEnvironmentClaude
      tags: [Environments]
      summary: Update environment
      parameters:
        - $ref: '#/components/parameters/EnvironmentId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateEnvironmentRequest' }
      responses:
        '200':
          description: Environment updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Environment' }
    delete:
      operationId: deleteEnvironment
      tags: [Environments]
      summary: Delete environment
      parameters:
        - $ref: '#/components/parameters/EnvironmentId'
      responses:
        '200':
          description: Environment deleted
          content:
            application/json:
              schema:
                type: object
                required: [id, type]
                properties:
                  id: { type: string }
                  type: { type: string, const: environment_deleted }
        '404': { description: Environment not found }
        '409': { description: Managed Environment or Environment referenced by active Sessions cannot be deleted }

  /v1/environments/{id}/archive:
    post:
      operationId: archiveEnvironment
      tags: [Environments]
      summary: Archive environment
      parameters:
        - $ref: '#/components/parameters/EnvironmentId'
      responses:
        '200':
          description: Environment archived
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'

  # --- Models -----------------------------------------------------
  /v1/models:
    get:
      operationId: listModels
      tags: [Models]
      summary: List models
      description: List enabled logical models in the OpenAI-compatible model-list shape. Use the detail endpoint for capabilities, schemas, and pricing.
      parameters:
        - name: q
          in: query
          schema:
            type: string
          description: Fuzzy search over model name, display name, vendor, and description.
        - name: vendor
          in: query
          schema:
            type: string
          description: Filter by vendor.
        - name: type
          in: query
          schema:
            type: string
            default: llm
          description: Filter by model type. Defaults to llm when omitted or empty.
        - name: order
          in: query
          schema:
            type: string
            enum: [sort_order, most-popular, newest, name]
            default: sort_order
          description: Sort order.
      responses:
        '200':
          description: Model list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelListResponse'
        '500':
          description: Model catalog lookup failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'

  /v1/models/{id_or_name}:
    get:
      operationId: getModel
      tags: [Models]
      summary: Get model details
      description: Get model details by UUID or full logical model name. Model names containing slashes are supported, for example /v1/models/openai/gpt-4o. Name lookup returns enabled catalog models; UUID lookup can return a disabled catalog record with enabled set to false. Protocol-ingress-only models are never returned.
      parameters:
        - name: id_or_name
          in: path
          required: true
          schema:
            type: string
          description: Model ID or full model name.
      responses:
        '200':
          description: Model details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelDetail'
        '400':
          description: Missing model ID or name
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '404':
          description: Model not found or not publicly discoverable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'

  /v1/deployments:
    post:
      operationId: createDeployment
      tags: [Deployments]
      summary: Create deployment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDeploymentRequest'
      responses:
        '200':
          description: Deployment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
    get:
      operationId: listDeployments
      tags: [Deployments]
      summary: List deployments
      parameters:
        - { name: agent_id, in: query, schema: { type: string } }
        - { name: 'created_at[gte]', in: query, schema: { type: string, format: date-time } }
        - { name: 'created_at[lte]', in: query, schema: { type: string, format: date-time } }
        - { name: include_archived, in: query, schema: { type: boolean, default: false } }
        - name: status
          in: query
          style: form
          explode: true
          schema:
            type: array
            items: { type: string, enum: [active, paused] }
          description: Repeat the parameter to filter by one or more Deployment statuses.
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 20 } }
        - { name: page, in: query, schema: { type: string } }
      responses:
        '200':
          description: Deployment list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Deployment'
                  next_page: { type: string, description: Opaque cursor included only when another page is available. }

  /v1/deployments/{id}:
    get:
      operationId: getDeployment
      tags: [Deployments]
      summary: Get deployment
      parameters:
        - $ref: '#/components/parameters/DeploymentId'
      responses:
        '200':
          description: Deployment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
    patch:
      operationId: updateDeployment
      tags: [Deployments]
      summary: Update deployment
      parameters:
        - $ref: '#/components/parameters/DeploymentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDeploymentRequest'
      responses:
        '200':
          description: Deployment updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
    post:
      operationId: updateDeploymentClaude
      tags: [Deployments]
      summary: Update deployment (Claude-compatible alias)
      parameters:
        - $ref: '#/components/parameters/DeploymentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDeploymentRequest'
      responses:
        '200':
          description: Deployment updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
    delete:
      operationId: deleteDeployment
      tags: [Deployments]
      summary: Delete deployment
      description: Permanently delete an eligible Deployment.
      parameters:
        - $ref: '#/components/parameters/DeploymentId'
      responses:
        '200':
          description: Deployment deleted
          content:
            application/json:
              schema:
                type: object
                required: [id, deleted]
                properties:
                  id: { type: string }
                  deleted: { type: boolean, const: true }
        '404': { description: Deployment not found }
        '409': { description: Deployment cannot be deleted from its current state }

  /v1/deployments/{id}/run:
    post:
      operationId: runDeployment
      tags: [Deployments]
      summary: Run deployment now (Claude-compatible alias)
      parameters:
        - $ref: '#/components/parameters/DeploymentId'
        - name: Idempotency-Key
          in: header
          required: false
          schema: { type: string }
      responses:
        '200':
          description: Existing or newly created DeploymentRun result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentRun'

  /v1/deployments/{id}/pause:
    post:
      operationId: pauseDeployment
      tags: [Deployments]
      summary: Pause scheduled triggers
      parameters:
        - $ref: '#/components/parameters/DeploymentId'
      responses:
        '200':
          description: Deployment paused
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Deployment' }
        '404': { description: Deployment not found }
        '409': { description: Deployment cannot be paused from its current state }

  /v1/deployments/{id}/unpause:
    post:
      operationId: unpauseDeployment
      tags: [Deployments]
      summary: Resume scheduled triggers
      parameters:
        - $ref: '#/components/parameters/DeploymentId'
      responses:
        '200':
          description: Deployment resumed
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Deployment' }
        '404': { description: Deployment not found }
        '409': { description: Deployment cannot be resumed from its current state }

  /v1/deployments/{id}/archive:
    post:
      operationId: archiveDeployment
      tags: [Deployments]
      summary: Archive a Deployment
      parameters:
        - $ref: '#/components/parameters/DeploymentId'
      responses:
        '200':
          description: Deployment archived
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Deployment' }
        '404': { description: Deployment not found }
        '409': { description: Deployment cannot be archived from its current state }

  /v1/deployments/{id}/notifications/feishu/test:
    post:
      operationId: testDeploymentFeishuNotification
      tags: [Deployments]
      summary: Test the saved Feishu notification target
      description: |
        Sends a fixed SandBase test notification to the Feishu webhook already saved on this Deployment.
        The request body must be absent or an empty JSON object. This endpoint never accepts a webhook URL or custom message.
      parameters:
        - $ref: '#/components/parameters/DeploymentId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              maxProperties: 0
              additionalProperties: false
      responses:
        '200':
          description: Test notification delivered
          content:
            application/json:
              schema:
                type: object
                required: [delivered]
                properties:
                  delivered: { type: boolean, const: true }
        '400':
          description: Request body is not absent or an empty JSON object
          content:
            application/json:
              schema: { $ref: '#/components/schemas/APIError' }
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskCostError' }
        '404':
          description: Deployment not found for the current organization
          content:
            application/json:
              schema: { $ref: '#/components/schemas/APIError' }
        '409':
          description: Deployment is archived or no Feishu webhook is configured
          content:
            application/json:
              schema: { $ref: '#/components/schemas/APIError' }
        '502':
          description: Feishu rejected the test notification or delivery failed
          content:
            application/json:
              schema: { $ref: '#/components/schemas/APIError' }

  /v1/deployments/{id}/runs:
    post:
      operationId: triggerDeploymentRun
      tags: [Deployments]
      summary: Trigger a DeploymentRun
      description: Creates one durable trigger record and attempts to create exactly one new Session.
      parameters:
        - $ref: '#/components/parameters/DeploymentId'
        - name: Idempotency-Key
          in: header
          required: false
          schema: { type: string }
      responses:
        '200':
          description: Existing or newly created DeploymentRun result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentRun'
        '409':
          description: The same idempotency key was used with a different request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
    get:
      operationId: listDeploymentRuns
      tags: [Deployments]
      summary: List DeploymentRuns, including succeeded and failed records
      parameters:
        - $ref: '#/components/parameters/DeploymentId'
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 1000, default: 20 }
          description: Page size. Pass this parameter explicitly when following nested-list cursors.
        - name: page
          in: query
          schema: { type: string }
          description: Opaque cursor returned in a previous response's next_page field.
      responses:
        '200':
          description: DeploymentRun list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DeploymentRun'
                  next_page:
                    type: string
                    description: Opaque cursor included when the current page reaches the requested limit.

  /v1/deployments/{id}/runs/{drun_id}:
    get:
      operationId: getDeploymentRun
      tags: [Deployments]
      summary: Get a DeploymentRun creation result
      parameters:
        - $ref: '#/components/parameters/DeploymentId'
        - name: drun_id
          in: path
          required: true
          schema: { type: string, pattern: '^drun_' }
      responses:
        '200':
          description: DeploymentRun details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentRun'
        '409':
          description: The DeploymentRun is still pending and has not resolved to a Session creation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'

  /v1/deployment_runs:
    get:
      operationId: listAllDeploymentRuns
      tags: [Deployments]
      summary: List DeploymentRuns across deployments
      parameters:
        - name: deployment_id
          in: query
          schema: { type: string }
        - name: agent_id
          in: query
          schema: { type: string }
        - { name: 'created_at[gt]', in: query, schema: { type: string, format: date-time } }
        - { name: 'created_at[gte]', in: query, schema: { type: string, format: date-time } }
        - { name: 'created_at[lt]', in: query, schema: { type: string, format: date-time } }
        - { name: 'created_at[lte]', in: query, schema: { type: string, format: date-time } }
        - { name: has_error, in: query, schema: { type: boolean } }
        - name: trigger_type
          in: query
          style: form
          explode: true
          schema:
            type: array
            items: { type: string, enum: [schedule, manual] }
          description: Repeat the parameter, or use comma-separated values, to filter by trigger type.
        - name: status
          in: query
          description: Repeat to select one or more DeploymentRun creation outcomes. The current response object does not expose this internal status field.
          style: form
          explode: true
          schema:
            type: array
            items: { type: string, enum: [pending, succeeded, failed] }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 1000, default: 20 }
        - name: page
          in: query
          schema: { type: string }
      responses:
        '200':
          description: DeploymentRun list
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/DeploymentRun' }
                  next_page: { type: string, description: Opaque cursor included when the current page reaches the requested limit. }

  /v1/deployment_runs/{id}:
    get:
      operationId: getGlobalDeploymentRun
      tags: [Deployments]
      summary: Get DeploymentRun by ID
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, pattern: '^drun_' }
      responses:
        '200':
          description: DeploymentRun details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentRun'

  # --- Skills -----------------------------------------------------
  /v1/skills/files:
    post:
      operationId: uploadSkillFile
      tags: [Skills]
      summary: Upload a Skill bundle or preview image
      description: Archives are limited to 50 MB. JPEG, PNG, WebP, and GIF preview images are limited to 10 MB.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file: { type: string, format: binary }
                skill_id:
                  type: string
                  format: uuid
                  description: Optional Skill ID used to organize the uploaded file path.
      responses:
        '201':
          description: Skill file uploaded
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SkillFile' }
        '400': { description: "Missing file, unsupported file type, or file over its category limit" }

  /v1/skills:
    post:
      operationId: createSkill
      tags: [Skills]
      summary: Create a Skill
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateSkillRequest' }
      responses:
        '201':
          description: Skill created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Skill' }
        '400': { description: Invalid Skill source or metadata }
    get:
      operationId: listSkills
      tags: [Skills]
      summary: List Skills
      parameters:
        - { name: page, in: query, schema: { type: integer, minimum: 1, default: 1 } }
        - { name: page_size, in: query, schema: { type: integer, minimum: 1, maximum: 1000, default: 20 } }
      responses:
        '200':
          description: Skill list
          content:
            application/json:
              schema:
                type: object
                required: [data, total, page, page_size]
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Skill' } }
                  total: { type: integer }
                  page: { type: integer }
                  page_size: { type: integer }

  /v1/skills/{id}:
    get:
      operationId: getSkill
      tags: [Skills]
      summary: Get a Skill
      parameters:
        - $ref: '#/components/parameters/SkillId'
      responses:
        '200':
          description: Skill details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Skill' }
        '404': { description: Skill not found }
    put:
      operationId: updateSkill
      tags: [Skills]
      summary: Update a Skill
      parameters:
        - $ref: '#/components/parameters/SkillId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateSkillRequest' }
      responses:
        '200':
          description: Skill updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Skill' }
        '404': { description: Skill not found }
    delete:
      operationId: deleteSkill
      tags: [Skills]
      summary: Soft-delete a Skill
      parameters:
        - $ref: '#/components/parameters/SkillId'
      responses:
        '200':
          description: Skill deleted
          content:
            application/json:
              schema:
                type: object
                required: [id, deleted]
                properties:
                  id: { type: string, format: uuid }
                  deleted: { type: boolean, const: true }
        '404': { description: Skill not found }

  # --- Credentials -----------------------------------------------
  /v1/credentials:
    post:
      operationId: createCredential
      tags: [Credentials]
      summary: Create credential
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCredentialRequest'
      responses:
        '201':
          description: Credential created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialResponse'
    get:
      operationId: listCredentials
      tags: [Credentials]
      summary: List credentials
      responses:
        '200':
          description: Credential list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialListResponse'
  /v1/credentials/{id}:
    get:
      operationId: getCredential
      tags: [Credentials]
      summary: Get credential (masked value)
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, pattern: '^sec_' }
      responses:
        '200':
          description: Credential details (secret masked)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialResponse'
    patch:
      operationId: updateCredential
      tags: [Credentials]
      summary: Update credential status or selection settings
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, pattern: '^sec_' }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCredentialRequest'
      responses:
        '200':
          description: Updated credential
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialResponse'
  /v1/credentials/{id}/rotate:
    post:
      operationId: rotateCredential
      tags: [Credentials]
      summary: Rotate credential value
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [value]
              properties:
                value:
                  type: string
                  minLength: 1
                  maxLength: 8192
                  writeOnly: true
                  description: New plaintext value. Blank or whitespace-only values are rejected.
      responses:
        '200':
          description: Rotated credential
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialResponse'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: "API key with `sk-sb-` prefix"
    AnthropicApiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: "Supported only by `POST /v1/messages` for Anthropic SDK compatibility"

  parameters:
    EmbedConfigId:
      name: id
      in: path
      required: true
      schema: { type: string, pattern: '^emb_[0-9a-f]{8}-[0-9a-f]{3}$' }
      description: Embed Config ID.
    EndpointId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Service Endpoint ID
    AgentId:
      name: id
      in: path
      required: true
      schema:
        type: string
        pattern: '^agent_'
      description: Agent ID
    SessionId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Session ID
    DeploymentId:
      name: id
      in: path
      required: true
      schema:
        type: string
        pattern: '^depl_'
      description: Deployment ID
    EnvironmentId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Environment ID
    SkillId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Skill UUID
  schemas:
    # --- Skills ---------------------------------------------------
    SkillFile:
      type: object
      required: [url, key, filename, size, content_type]
      properties:
        url: { type: string, format: uri }
        key: { type: string }
        filename: { type: string }
        size: { type: integer }
        content_type: { type: string }

    CreateSkillRequest:
      type: object
      required: [name]
      properties:
        name: { type: string, minLength: 1, maxLength: 100, pattern: '.*\S.*' }
        description: { type: string, maxLength: 1000 }
        categories: { type: array, items: { type: string } }
        skill_file_url: { type: string, format: uri, minLength: 1 }
        git_url: { type: string, format: uri, minLength: 1 }
        preview_image_urls: { type: array, items: { type: string, format: uri } }
        metadata: { type: object, additionalProperties: true }
        unified_schema: { type: object, additionalProperties: true }
      anyOf:
        - required: [skill_file_url]
        - required: [git_url]

    UpdateSkillRequest:
      type: object
      properties:
        name: { type: string, maxLength: 100 }
        description: { type: string, maxLength: 1000 }
        categories: { type: array, items: { type: string } }
        skill_file_url: { type: string, format: uri }
        preview_image_urls: { type: array, items: { type: string, format: uri } }
        metadata: { type: object, additionalProperties: true }
        unified_schema: { type: object, additionalProperties: true }

    Skill:
      type: object
      required: [id, name, display_name, vendor_slug, plugin_slug, icon_url, preview_urls, created_at]
      properties:
        id: { type: string, format: uuid }
        name: { type: string, description: Full vendor_slug/plugin_slug reference. }
        display_name: { type: string }
        vendor_slug: { type: string }
        plugin_slug: { type: string }
        description: { type: string }
        categories: { type: array, items: { type: string } }
        icon_url: { type: string }
        preview_urls: { type: array, items: { type: string } }
        skill_file_url: { type: string }
        git_url: { type: string }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    # --- Embed Configs -------------------------------------------
    EmbedConfig:
      type: object
      required: [id, org_id, agent_id, environment_id, name, key_prefix, allowed_origins, title, welcome_message, theme_color, avatar_url, placeholder_text, enabled, embed_code, created_at, updated_at]
      properties:
        id: { type: string, pattern: '^emb_[0-9a-f]{8}-[0-9a-f]{3}$' }
        org_id: { type: string, format: uuid }
        agent_id: { type: string, pattern: '^agent_' }
        environment_id: { type: string, pattern: '^env_' }
        name: { type: string }
        key_prefix: { type: string, description: Display-only prefix of the publishable key. }
        allowed_origins:
          type: [array, 'null']
          description: Browser origins allowed to use the widget. Empty or null permits every origin.
          items: { type: string }
        title: { type: string }
        welcome_message: { type: string }
        theme_color: { type: string }
        avatar_url: { type: string }
        placeholder_text: { type: string }
        enabled: { type: boolean }
        embed_code:
          type: string
          description: Script tag containing the derived publishable browser key.
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    CreateEmbedConfigResponse:
      allOf:
        - $ref: '#/components/schemas/EmbedConfig'
        - type: object
          required: [publishable_key]
          properties:
            publishable_key:
              type: string
              pattern: '^pk-sb-emb_'
              description: Publishable browser key. This is not a secret and is also embedded in embed_code.

    EmbedConfigList:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/EmbedConfig' }

    CreateEmbedConfigRequest:
      type: object
      additionalProperties: false
      required: [agent_id, environment_id]
      properties:
        agent_id: { type: string, pattern: '^agent_' }
        environment_id: { type: string, pattern: '^env_' }
        name: { type: string }
        allowed_origins:
          type: array
          description: Exact origins or hostnames. Omit or send an empty array to allow every origin.
          items: { type: string }
        title: { type: string }
        welcome_message: { type: string }
        theme_color: { type: string }
        avatar_url: { type: string }
        placeholder_text: { type: string }

    UpdateEmbedConfigRequest:
      type: object
      additionalProperties: false
      description: Omitted fields and explicit null values preserve the current value. Send an empty allowed_origins array to clear the origin allowlist.
      properties:
        name: { type: string }
        allowed_origins:
          type: array
          items: { type: string }
[...]
